html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 600;
}

p, pre {
  margin: 0;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl, menu, ol, ul {
  margin: 0;
}

dt,dd {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}



/* Correct `block` display not defined in IE 6/7/8/9 and Firefox 3. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* Reset for strange margins by default on <figure> elements */
figure {
  margin: 0;
}

/* Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Base Type Styles Using Modular Scale */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* img and obj */
img, object, embed {
  max-width: 100%;
  height: auto;
  display: block;
}

object, embed {
  height: 100%;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


button {
  border: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.attrib {
  text-align: right;
}
figure .attrib {
  text-align: left;
}

/* Global text styles */

.alpha-lower {
  list-style-type: lower-alpha;
}

.alpha-upper {
  list-style-type: upper-alpha;
}

.roman-lower {
  list-style-type: lower-roman;
}

.roman-upper {
  list-style-type: upper-roman;
}

.simple {
    list-style-type: none;
}
.txt-medium {
  font-size: 1.25rem;
}
.txt-large {
  font-size: 1.5rem;
}


/*utilities*/

.center-text{
  text-align:center;
}
.center-block{
  margin-left:auto;
  margin-right:auto;
}

.pad-small-y{padding: 5px 0}
.pad-small-x{padding: 0 5px}

italic {font-style: italic;} /*sometimes this is in the transform*/
