#content .site-content-nav {
  display: none;
}

#content h1,
h1 {
  font-size: 2em;
  letter-spacing: -1px;
  /* tighten up 'display type' headers on smaller displays */
  line-height: 1.25;
  margin-top: 0.9375em;
  margin-bottom: 0.3125em;
}
h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  margin-top: 1.15384616em;
  margin-bottom: 0.38461539em;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
  margin-top: 1.36363637em;
  margin-bottom: 0.45454546em;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
  margin-top: 1.66666667em;
  margin-bottom: 0.55555556em;
}

p {
  font-size: 1em;
  line-height: 1.25;
}


#content ul,
#content ol {
  margin: .5em;
  margin-bottom: 1em;
}

#content ul {
  list-style-type: disc;
}
#content ol {
  list-style: decimal;
}

#content ol li {
  list-style: decimal;
  padding: .25em 0;
}

#content ul li {
  list-style-type: disc;
  padding: .25em 0;
}

#content dt {
  font-weight: 600;
}

#content blockquote,
#content .block-quote,
#content .pullquote,
#content .pullquote,
#content .block-quote {
  border-left: 0.3125rem solid #ccc;
  padding: .5em;
  margin: 1.6875rem 0 1.125rem 0;
}

.pullquote {
  font-style: italic;
}

#content .block-basic {
  margin: 1.6875rem -.5em 1.25rem -.5em;
  padding: .5em .5em .75em .5em;
  background-color: #efefef;
}

#content .block-global-alert {
  margin: 1.6875rem -.5em 1.25rem -.5em;
  padding: .5em .5em .75em .5em;
  background: #abc2e8;
  padding: .5em;
  font-weight: 600;
}

#content .block-tip {
  margin: 1.6875rem -.5em 1.25rem -.5em;
  padding: .5em .5em .75em .5em;
  border: 1px solid #666;
}

#content .block-important {
  margin: 1.6875rem -.5em 1.25rem -.5em;
  padding: .5em .5em .75em .5em;
  background: #ffd87a;
}

#content .block-more-information {
  margin: 1.6875rem -.5em 1.25rem -.5em;
  padding: .5em .5em .75em .5em;
  background: #efefef;
}

