#content .site-content-nav {
  display: none;
}

p {
  margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 1rem 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  font-size: 1.802em; /* 28.83px */
}

h2 {
  font-size: 1.602em;} /* 25.63px */

h3 {
  font-size: 1.424em;} /* 22.78px */

h4,
#article-metrics h2,
.item--article-title  {
  font-size: 1.266em; } /* 20.25px */

h5,
#article-metrics h3,
.author-list {
  font-size: 1.125em;} /* 18px */

small, .text_small {font-size: 0.889em;}

#content ul,
#content ol {
  margin: .5em;
  margin-bottom: 1.25em;
}

#content ul {
  list-style-type: disc;
}
#content ol {
  list-style: decimal;
}

#content ol li {
  list-style: decimal;
  padding: .25em 0;
}

#content ul li {
  list-style-type: disc;
  padding: .25em 0;
}

#content dt {
  font-weight: 600;
}

#content blockquote,
#content .block-quote,
#content .pullquote,
#content .pullquote,
#content .block-quote {
  border-left: 0.3125rem solid #ccc;
  padding: .5em;
  margin: 1.6875rem 0 1.125rem 0;
}

.pullquote {
  font-style: italic;
}

.block-basic,
.block-global-alert,
.block-tip,
.block-important,
.block-more-information {
  margin: 0.55555556em -1em;
  padding: 1em;
  background: #f9f9f9;
}

.block-global-alert {
  background: #abc2e8;
  font-weight: 600;
}

.block-tip {
  border: 1px solid #666;
}

.block-important {
  background-color: #f4f6c3;
}