#content .site-content-nav{
   display: none;
  }

#content article{
  
  margin-bottom: 1em;
  width: 96%;
  }

/*#content p, 
#content ul, 
#content ol, 
#content table{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: .5em;
  margin-top: .5em;
  }*/

#content h1,
#content h2,
#content h3, 
#content h4, 
#content h5 {
  margin-bottom: .5em;
  margin-top: .75em;
  }

#content h2,
#content h3, 
#content h4 {
 font-family: 'Arial', sans-serif;
  font-weight: bold;
  }

#content h1 {
font-size: 2.25rem;
  }


#content h4 {
  font-weight: normal;
  }

#content h3, h4, h5 {
  font-size: 1.25rem;
  }

/*#content table {
  padding: .25em;
  border-spacing: 0px  !important;
  border-collapse: collapse !important;
  border-color: #fff !important;
  margin-bottom: 1.5em;
  }

#content table td,
#content table th {
  padding: .5em;
  }

#content table th {
  text-align: left;
  }

#content table tr {
  border-bottom: 1px solid #999;
  }*/

#content ul, #content ol {
  margin: .5em;
  margin-bottom: 1em;
  }

#content ul{
  list-style-type: disc;
  }
#content ol{
  list-style: decimal;
  }

#content ol li {
  list-style: decimal;
  padding: .25em 0;
  margin: 0 1.5em;
  }

#content ul li{
  list-style-type: disc;
  padding: .25em 0;
  margin: 0 1.5em;
  }

#content dt {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
  padding-bottom: 0.5em;
  text-rendering: optimizeLegibility;
}

#content dd {
  font-size: 1.3em;
  line-height: 1.3em;
  padding-bottom: 1.1em;
  text-rendering: optimizeLegibility;
}

#content blockquote,
#content .block-quote,
#content .pullquote,
#content .pullquote,
#content .block-quote {
  border-left: 0.3125rem solid #cccccc;
  padding: .5em;
  margin: 1.6875rem 0 1.125rem 0;
  }

.pullquote {
  font-style: italic;
  }

#content .block-basic {
  margin: 1.6875rem -.5em 1.25rem -.5em;
  padding: .5em .5em .75em .5em;
  background-color: #efefef; }

#content .block-global-alert {
  margin: 1.6875rem -.5em 1.25rem -.5em;
  padding: .5em .5em .75em .5em;
  background: #abc2e8;
  padding: .5em;
  font-weight: bold;
  }

#content .block-tip {
  margin: 1.6875rem -.5em 1.25rem -.5em;
  padding: .5em .5em .75em .5em;
  border: 1px solid #666;
  }

#content .block-important {
  margin: 1.6875rem -.5em 1.25rem -.5em;
  padding: .5em .5em .75em .5em;
  background: #ffd87a;
  }

#content .block-more-information {
  margin: 1.6875rem -.5em 1.25rem -.5em;
  padding: .5em .5em .75em .5em;
  background: #efefef;
  }

