.pagination {
  text-align: center;
  position: relative;
  padding: 0 30px;
  margin: 20px 0;
}

.pagination a,
.pagination span,
.pagination strong {
  background: #c2c2c2;
  display: inline-block;
  font-weight: bold;
  color: #333;
  font-size: 14px;
  line-height: 24px;
  padding: 0 4px;
  min-width: 16px;
  border-radius: 4px;
  margin: 0 1px;
  box-sizing: content-box;
}

.pagination strong {
  background-color: #f8af2d;
  text-decoration: none;
}

.pagination .prev,
.pagination .next {
  position: absolute;
  background: #ddd url('../img/ambra/icon.sprite.page.gif') 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

.pagination a.prev,
.pagination a.next {
  background-color: #333;
}

.pagination .prev {
  left: 0;
  background-position: 0 -24px;
}

.pagination .next {
  right: 0;
}

.pagination a.prev:hover,
.pagination a.next:hover,
.pagination a:hover {
  background-color: #3C63AF;
  color: #FFF;
  text-decoration: none;
}

/************* edboard pages *****************/

div#content article {
  width: inherit;
}

div#content article p {
  font-size: 13px;
}

#static-wrap-edboard h2 {
  margin-top: 30px;
  margin-bottom: 0px;
}

#static-wrap-edboard dt {
  padding-top: 5px;
}

#filter_container, #all_editors {
  *zoom:1;
}

#filter_container:before, #all_editors:before,
#filter_container:after, #all_editors:after{
  content: " ";
  display: table;
}

#filter_container:after, #all_editors:after {
  clear: both;
}

#all_editors,
#filter_container {
  margin-bottom: 18px;
}

#filter_container #searchBox {
  width: 202px;
  padding-right: 22px;
  font-size: 13px;
}

#filter_container #searchFor {
  font-size: 14px;
}

#filter_container #clearFilter {
  position: absolute;
  top: 0;
  left: 70%;
  width: 18px;
  height: 17px;
  cursor: default;
  background: #606060  url('../img/ambra/btn.close.png') no-repeat 3px 3px;
  border-radius: 3px;
  background-size: 12px 12px;
}

#filter_container #clearFilter:hover {
  background: #808080  url('../img/ambra/btn.close.png') no-repeat scroll 3px 3px;
}

.ui-menu-item .item {
  line-height: 0.9;
}
.ui-menu-item .header {
  line-height: 2;
  font-weight: bold;
}
.ui-menu-item .more {
  font-style: italic;
  color: #707070;
}

div.editor {
  font-size: 13px;
  line-height: 18px;
  border-top: 1px solid #999;
  padding: 1%;
}


/*
Some Jquery UI styles forklifted from jquery-ui.scss.
ONLY TO STYLE THE AUTO COMPLETE
*/
.ui-widget-content {
  border: 1px solid #aaaaaa /*{borderColorContent}*/;
  background: #ffffff /*{bgColorContent}*/ 50% /*{bgContentXPos}*/ 50% /*{bgContentYPos}*/ repeat-x /*{bgContentRepeat}*/;
  color: #222222 /*{fcContent}*/;
}

.ui-widget-content a {
  color: #222222 /*{fcContent}*/;
}

.ui-widget-header {
  border: 1px solid #aaaaaa /*{borderColorHeader}*/;
  background: #cccccc /*{bgColorHeader}*/ 50% /*{bgHeaderXPos}*/ 50% /*{bgHeaderYPos}*/ repeat-x /*{bgHeaderRepeat}*/;
  color: #222222 /*{fcHeader}*/;
  font-weight: bold;
}

.ui-widget-header a {
  color: #222222 /*{fcHeader}*/;
}