/* Feedback and Email this Article */
#feedback-form-container, 
#set-grid {
  text-align: left;
  margin: 2rem 2%;
}

#feedbackCreate ol, 
#emailThisArticleForm ol {
  margin-top: 12px;
  text-align: left;
  list-style-type: none;
}

#feedbackCreate li, 
#emailThisArticleForm li {
  margin-top: 12px;
}

#feedbackCreate label, 
#emailThisArticleForm label {
  width: 100%;
  display: inline-block;
  line-height: 2;
}

#emailThisArticleForm input[type="text"],
#feedbackCreate textarea, 
#feedbackCreate input[type="text"], 
#emailThisArticleForm textarea {
  width: 100%;
  border: 1px solid #333;
  line-height: 44px;
}

#security-check-label {
  margin: 20px 0 0;
  width:100%;
  text-align: center;
}

#submit-feedback-btn, 
#sendButton  {
  margin: 2rem 0;
  width:96%;
}


.form-consent label,
.form-consent input  {
  text-align:left;
}
.form-consent input[type="checkbox"] {
  display: inline;
  margin-right: 1rem;
}

#emailThisArticleForm .error {
    margin-left: 24%;
    padding: 5px 5px 5px 8px;
    display: block;
    text-align:left;
}

.error, .required {
    color: #e53350;
}

/* Feedback and Email this Article Success */
#success-message-container {
  padding: 5% 0;
  text-align: center;
}

#success-message-container #success-message {
  padding: 5% 0;
}

#authorPhone, #authorAffiliation { 
display: none; visibility: hidden;
}

/*@media (max-width: 550px) {
  #feedbackCreate li {
    position: relative;
    padding-left: 5%; padding-right: 5%;
    box-sizing: border-box;
  }
  #feedbackCreate label,
  #feedbackCreate input,
  #feedbackCreate textarea {
    width: 100%;
    text-align: inherit;
    margin-right: inherit;
  }
  #feedbackCreate label {
    font-weight: 600;
  }

}*/