/* Feedback and Email this Article */
#feedback-form-container,
#set-grid {
  text-align: left;
  margin: 2rem 2%;
}

#feedbackCreate ol,
#emailThisArticleForm ol {
  text-align: left;
  list-style-type: none;
}

.form-group {
  margin: 1rem 0;
}

#feedbackCreate label,
#emailThisArticleForm label,
.form-group label {
  width: 100%;
  display: inline-block;
  font-weight: 600;
  text-align: left;
}

#emailThisArticleForm input[type="text"],
#feedbackCreate textarea,
#feedbackCreate input[type="text"],
#emailThisArticleForm textarea {
  width: 100%;
  border: 1px solid #999;
  line-height: 44px;
}

#security-check-label {
  margin: 20px 0 0;
  width: 100%;
  text-align: center;
}

#submit-feedback-btn,
#sendButton {
  border: 1px solid #fff;
  margin: 2rem 0;
  width: 96%;
}


#feedbackCreate .form-consent label,
.form-consent input {
  text-align: left;
  font-weight: 400;
}
.form-consent input[type="checkbox"] {
  display: inline;
  margin-right: 1rem;
}

#emailThisArticleForm .error {
  margin-left: 24%;
  padding: 5px 5px 5px 8px;
  display: block;
  text-align: left;
}

.error,
.required {
  color: #e53350;
}

/* Feedback and Email this Article Success */
#success-message-container {
  padding: 5% 0;
  text-align: center;
}

#success-message-container #success-message {
  padding: 5% 0;
}

#authorPhone,
#authorAffiliation {
  display: none;
  visibility: hidden;
}
