/* Issue */

#container-main {
 
}

#container-main #nav-toc {
  display: none;
}

#container-main h1 {
  text-align: center;
  padding-bottom: 5px;
}

#issue-articles-container p {
  font-family: inherit;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 3px;
  text-rendering: optimizeLegibility;
}

#issue-articles-container #issue-title {
  display: block;
  font-weight: 400;
  margin: 12px 0;
}

#issue-articles-container #issue-title a {
  color: #333;
}

#issue-articles-container .cover {
  margin-bottom: 16px;
  padding: 12px 0;
}

#issue-articles-container .header {
  text-align: center;
  background-color: #fff;
  padding: 12px 3%;
}

#issue-articles-container .kicker {
  margin: 0;
}

#issue-articles-container .detail-container {
  text-align: center;
  background: #fff;
}

#issue-articles-container .detail-container img {
  display: inline-block;
}

#issue-articles-container .detail-container .txt {
  padding: 10px 0;
  background-color: #fff;
  padding: 12px 3%;
  margin-top: -3px;
}

#issue-articles-container .section {
  background-color: #fff;
  padding: 18px 3%;
  margin: 18px 0;
}

#issue-articles-container .section h2 {
  margin: 0;
}

#issue-articles-container .section .item {
  margin-top: 27px;
}

#issue-articles-container .section .item h3 {
  margin-bottom: 9px;
}

#issue-articles-container .section .item h3 a {
  color: #333;
}

#issue-articles-container .section .item h4 {
  color: #666;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 3px;
}

#issue-articles-container .section .item ol li {
  list-style-type: none;
  margin-bottom: 3px;
}
