.nav-page li {
  line-height: 2.25rem;
}
.img img {
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #eee;
  background: #f9f9f9;
}

#issue-articles-container .item {
  margin: 2.25rem 0;
}

.item--article-title {
  margin-bottom: 0.702em;
}

#issue-articles-container .authors,
#issue-articles-container .article-info {
  margin-bottom: 0.702em;
}
