

/* Issue */

#container-main {
  background: #efefef;
}

#container-main #nav-toc {
  display: none;
}

#container-main h1 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 5px
}

#issue-articles-container p {
  font-family: inherit;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 3px;
  text-rendering: optimizeLegibility;
}

#issue-articles-container #issue-title {
  display: block;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  margin: 12px 0;
}

#issue-articles-container #issue-title a {
  color: #333333;
}

#issue-articles-container .cover {
  margin-bottom: 16px;
  padding: 12px 0;
}

#issue-articles-container .header {
  text-align: center;
  background-color: white;
  padding: 12px 3%;
}

#issue-articles-container .kicker {
  margin: 0;
}

#issue-articles-container .detail-container {
  text-align: center;
  background: white;
}

#issue-articles-container .detail-container img {
  display: inline-block;
}

#issue-articles-container .detail-container .txt {
  padding: 10px 0;
  background-color: white;
  padding: 12px 3%;
  margin-top: -3px;
}

#issue-articles-container .section {
  background-color: white;
  padding: 18px 3%;
  margin: 18px 0;
}

#issue-articles-container .section h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  margin: 0;
}

#issue-articles-container .section .item {
  font-size: 13px;
  margin-top: 27px;
}

#issue-articles-container .section .item h3 {
  font-size: 16px;
  margin-bottom: 9px;
}

#issue-articles-container .section .item h3 a {
  color: #333;
}

#issue-articles-container .section .item h4 {
  font-size: 13px;
  color: #666;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 3px;
}

#issue-articles-container .section .item ol li {
  list-style-type: none;
  margin-bottom: 3px;
}

#issue-articles-container .section .item ol li a {
  font-size: 14px;
}