#container-main {
  background: #eee;
}
.highcharts-container {
  overflow: visible !important;
}

.card {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  margin: 2rem .5rem;
}

#article-metrics h2 {
  margin: 1rem 0;
}
/* pageViewsSummary table */

#pageViewsSummary #left {
  float: none;
  padding: 8px 0;
  border: 0;
}

#pageViewsSummary #right {
  float: none;
  padding: 0;
  border: 0;
}

#pageViewsSummary .header {
  color: #333;
}

#pageViewsSummary .totalCount {
  padding-top: 3px;
  padding-bottom: 5px;
  font-weight: 600;
  color: #333;
}

#pageViewsSummary .pubDates {
  font-weight: 600;
  color: #666;
}


.card table {
  width: 100%;
  border-width: 1px 1px 0 0;
  border-spacing: 0;
  padding: 0;
  margin-bottom: 10px;
}

table th,
.card table td {
  width: 50%;
  border-width: 0 0 1px 1px;
  border-color: #e5e4e4;
  border-style: solid;
  padding: 3px 8px 2px 8px;
  vertical-align: middle;
  height: 17px;
  font-weight: 600;
}

table th {
  background-color: #e5e4e4;
  color: #666;
  text-align: left;
}

#pageViewsTable td {
  background-color: #fff;
  color: #999;
}

#pageViewsTable .source1 {
  background-color: #3c63af;
  font-weight: 600;
  color: #fff;
}

#pageViewsTable .source2 {
  background-color: #6d84bf;
  font-weight: 600;
  color: #fff;
}

#pageViewsTable .total {
  font-weight: 600;
  color: #000;
}

#pageViewsTable tr.percent td {
  color: #000;
}

/* styling for average usage stat information */
#averageViewsSummary {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #e5e4e4;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

#averageViewsSummary div {
  padding: 8px 8px 0px 8px;
}

#averageViewsSummary .colorbox {
  border: 1px solid #ccc;
  background-color: #01DF01;
  width: 9px;
  height: 9px;
  display: block;
  float: left;
  margin-top: 4px;
}

#averageViewsSummary .ir {
  float: right;
  border-radius: 8.5px;
  -webkit-border-radius: 8.5px;
  -moz-border-radius: 8.5px;
}

#averageViewsSummary select {
  width: inherit;
  background-color: #fff;
  border-radius: 4px;
}

#averageViewsSummary select option {
  background-color: #fff;
}

#beta {
  font: 10px italic bold Arial;
  color: #00be00;
}


/************* Article Metrics page: Metrics Tiles and Rating Tile *****************/

.metrics_tile {
  vertical-align: text-top;
  border-radius: 3px;
  margin-right: 12px;
  margin-bottom: 25px;
  zoom: 1; /*  Workaround for IE */
  display: inline; /*  Workaround for IE */
}

img.metrics_tile_image {
}

.metrics_tile_footer {
  text-align: left;
  display: block;
}

.metrics_tile_footer {
  text-decoration: none;
  font-weight: 600;
}

.metrics_tile_no_link {
  vertical-align: text-top;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
  zoom: 1; /*  Workaround for IE */
  display: inline; /*  Workaround for IE */
}

.metrics_tile_footer_no_link {
  line-height: 1.85em;
  color: #999;

  text-decoration: none;
  font-weight: 600;
}

.metrics_tile:hover .metrics_tile_rating_footer {
  border-top: 1px solid #90ABBD;
}

#article-metrics #views {
  margin-top: 40px;
}