/* Home */
#home-content {
  padding: 0;
}

#article-pagination {
  padding: 25px 0 0 0;
}

/* Article */
#article-post-options {
  padding: 25px 10px;
}

#submission-buttons a {
  width: 100%;
  color: #fff;
  display: block;
  padding: 12px 0;
  margin: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
}

.retraction {
  padding: 15px 10px;
  margin-top: 20px;
}

.retraction h3 {
  font-weight: 600;
  font-family: Arial, sans-serif;
  margin-top: 0;
  display: inline;
}

.retraction p {
  padding-top: 20px;
}

.retraction span {
  padding-top: 20px;
}

.retraction ol {
  margin: 1em 0;
  padding: 0 0 0 45px;
}

.retraction li {
  padding: 0 0 20px 0;
}

.correction-alert {
  background-position: 0 2px;
  margin-top: 15px;
}

.article-tags {
  margin-top: 15px;
}

.article-tags .article-tag {
  float: left;
  margin-left: 15px;
}

.article-tags .article-tag:first-child {
  margin-left: 0;
}

.article-tags .peer-reviewed {
  width: 123px;
  height: 15px;
}

.article-tags .open-access {
  width: 155px;
  height: 15px;
}

.main-accordion {
  margin-top: 30px;
}

.article-buttons {
  margin-top: 25px;
}

.article-buttons li {
    margin: 1em -1em;
}

.article-buttons li:last-child {
  margin-bottom: 0;
}

.article-buttons li a {
  line-height: 44px;
  padding: 0 20px;

  text-align: left;
  font-family: Arial, sans-serif;
}

.article-buttons li a .arrow {
  overflow: hidden;
  text-indent: -1000px;
  display: block;
  background-position: -275px -10px;
  width: 6px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: url('../img/sprites/structure.png');
  background-size: 300px 75px;
  float: right;
  margin-top: 17px;
}

.article-save-options {
  padding: 25px;
  margin: 0 auto;
  width: 300px;
}

.rounded {
  font-weight: 600;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

.article-save-options a.rounded.full {
  width: 100%;
}

.article-save-options .button-row + .button-row {
  margin-top: 1em;
}

.article-save-options .button-row + .button-row:last-child {
  /*
   * If there are two or more button-rows, add some extra spacing to separate the article space from the footer.
   * If there is only one button-row, it should appear vertically centered between adjacent elements.
   */
  margin-bottom: 30px;
}

.equation img {
  display: block;
  margin: 0 auto;
}

.inline-formula img,
.figure-description .inline-formula img {
  display: inline-block;
  vertical-align: middle;
}

.article-menu-bottom.small {
  padding: 0;
  margin-top: 0;
}

.article-menu-bottom.small a.btn-lg:first-child {
  margin-top: 0;
}

.article-menu-bottom.small a.btn-lg {
  padding: 10px 0;
}

.article-menu-bottom.small .btn-top-container {
  margin: 20px 0;
}

#author-content dt {
  font-weight: 600;
}
#author-content dd {
  margin-bottom: 1em;
}
#author-content .type {
  color: #666;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Results */
#page-results .filter-box {
  position: absolute;
  top: 50px;
  display: none;
}

#page-results .filter-box.active {
  display: block;
}

#page-results .filter-container {
  border-bottom: 1px solid #d3d3d3;
  padding: 2%;
  text-align: center;
}

#page-results .filter-container .filter-button,
#display-options {
  margin: 2rem auto;
  width: 96%;
}

#page-results .article-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

#page-results #article-items.title-only .article-item .author-list,
#page-results #article-items.title-only .article-item .citation {
  display: none;
}

#page-results #article-items.full-citation .article-item .author-list,
#page-results #article-items.full-citation .article-item .citation {
  display: block;
}

#page-results #article-items.title-and-author .article-item .citation {
  display: none;
}

/* Browse */
#page-browse .content {
  padding: 0;
}

#page-browse #browse-container {
  overflow: hidden;
  padding: 10px;
}

#page-browse .browse-level {
  position: relative;
  display: none;
}

#page-browse .browse-level.active {
  display: block;
}

#page-browse .back-header {
  display: none;
}

/* Saved Items */
#page-saved-items .section-header {
  font-style: italic;
}

#saved-list-options {
  font-weight: 600;
}

#saved-list-options.inactive .optionitem {
  background: #d3d3d3;
  color: #fff;
}

#page-saved-items table {
  border-spacing: 10px;
}

#page-saved-items table td {
  padding: 10px 15px;
}

#article-items {
  margin: 25px 0;
}

.save-article.circular {
  display: none;
}

.article-item {
  margin-bottom: 25px;
}

.save-article.circular {
  display: block;
}

#page-saved-items .modal-content {
  font-weight: 600;
}

#page-saved-items .modal-content .confirm-text {
  margin: 18px 0 25px 0;
}

.article-menu-bottom.small {
  padding: 10px;
}

/* Recent History */
#recent-searches {
  padding: 20px 10px;
  border-bottom: 1px solid #d3d3d3;
}

.history-title {
  margin-bottom: 20px;
}

#page-recent-history .recent-search-list > li {
  margin-top: 25px;
}

#page-recent-history .recent-search-list > li:first-child {
  margin-top: 0;
}

#article-items {
  margin-bottom: 35px;
}

/* Journals */
.lead-in.journal {
  font-family: Arial, sans-serif;
  text-transform: none;
  margin-top: 10px;
}

/* Table of Contents */
.article-menu-bottom {
  margin-top: 35px;
}

.article-intro {
  padding: 0 10px;
}

.toc-image figure,
.toc-image figcaption {
  margin-top: 20px;
}

.main-accordion {
  margin-top: 30px;
}

/* Journal Archive by Month */
#journal-months-container {
  margin: 20px 0 20px -20px;
}

.journal-month-container {
  width: 84px;
  float: left;
  margin-left: 20px;
}

.journal-photo {
  display: block;
  width: 84px;
}

.journal-photo img {
  max-width: 100%;
}

/* Journal Archive By Year */
#journal-years-container {
  margin: 20px 0 20px -10px;
}

.journal-year {
  width: 92px;
  height: 53px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  background: #333333;
  color: #fff;
  text-align: center;
  line-height: 53px;
  font-weight: 600;
  float: left;
  margin-left: 10px;
  margin-bottom: 15px;
}

/* Featured Collection */
#page-featured-collection h2 {
  margin-top: 10px;
}

#page-featured-collection .article-body {
  margin: 15px 0;
}

#page-featured-collection .article-body .collection-link {
  margin-top: 10px;
  display: block;
}

#page-featured-collection .collection-image {
  margin-top: 15px;
}

#page-featured-collection .main-accordion > li.accordion-item > a {
  height: 50px;
}

#page-featured-collection .main-accordion > li.accordion-item .accordion-logo {
  overflow: hidden;
  text-indent: -1000px;
  display: block;
}

#page-featured-collection .main-accordion > li.accordion-item .arrow {
  margin-top: 10px;
}

#page-featured-collection .main-accordion {
  margin-bottom: 40px;
}

#page-featured-collection .accordion-content {
  padding: 20px 10px;
}

#page-featured-collection .accordion-content ul {
  list-style: disc;
  list-style-position: inside;
}


.collection-list > li {
  font-weight: 600;
  margin-bottom: 10px;
}

.figure-small figcaption {
  margin-bottom: 2rem;
}

.figure-small figcaption a {
  font-weight: 400;
  color: #369;
}

.figure-small .figure-expand {
  position: absolute;
  top: -10px;
  right: -10px;
  background-position: -150px 0;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  background-image: url('../img/sprites/structure.png');
  background-size: 300px 75px;
  overflow: hidden;
  text-indent: -1000px;
  display: block;
}
.figure-small {
  margin: 1rem auto;
}

/* Figure */
#figure-content {
  padding: 0;
}

.figure-link {
  position: relative;
  display: inline-block;
}

#page-figure #site-header-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

/* Figures */
.accordion-content figure {
  background: #f9f9f9;
  margin: 30px -10px;
  padding: 2rem 1rem;
}

html:not(.positionfixed) .modal-info-window.tab,
html:not(.positionfixed) #page-figure #site-header-container {
  display: none;
}

.figure-img {
  max-width: none;
  margin-top: 50px;
}

.figure-title {
  display: block;
}
#figure-info-window .modal-tab {
  position: absolute;
  right: 10px;
  top: -35px;
  background: #333333;
  color: #fff;
  padding: 10px 13px 10px 25px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#figure-info-window .modal-tab .arrow {
  overflow: hidden;
  text-indent: -1000px;
  display: block;
  background-position: -275px 0;
  width: 9px;
  height: 6px;
  background-repeat: no-repeat;
  background-image: url('../img/sprites/structure.png');
  background-size: 300px 75px;
  display: inline-block;
  margin-left: 30px;
}

/* Comments */

.comments {
  margin-top: 10px;
  margin-bottom: 40px;
}

.comment .context {
  padding: 10px;
  background: #efefef;
}

.context a.expand {
  font-weight: 600;
  text-decoration: underline;
}

.details {
  margin-top: 2px;
}

.member {
  color: #369;
  font-weight: 600;
}

.responses {
  height: 35px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d3d3d3;
  padding: 12px;
}

.responses:last-child {
  margin-bottom: 0;
}

#comment-content {
  padding: 0;
}

.comments {
  margin-top: 25px;
}

.comment {
  border-top-width: 3px;
  border-top-style: solid;
}

.expand {
  text-decoration: none;
}

.response {
  padding: 12px;
}

.response-menu {
  height: 20px;
  text-align: right;
  margin-top: 15px;
}

.response-menu > a {
  height: 20px;
  line-height: 20px;
  color: #369;
  display: inline-block;
  text-align: left;
  font-weight: 600;
}

.respond-link {
  border-left: 1px solid #d3d3d3;
  padding-left: 15px;
}

.flag-link {
  margin-right: 15px;
  overflow: hidden;
  text-indent: -1000px;
  display: block;
  background-position: -274px -37px;
  width: 14px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url('../img/sprites/structure.png');
  background-size: 300px 75px;
}

.comment.primary {
  border-top-width: 3px;
  border-top-style: solid;
}

.thread-level {
  margin-left: 5px;
  border-left: 1px solid #d3d3d3;
}

#comments-related {
  margin-top: 15px;
}

#response-subject {
  margin-bottom: 3px;
}

.radio-option {
  margin-bottom: 10px;
}

#competing-interest {
  height: 45px;
  margin-bottom: 20px;
}

/* line 525, sass/pages/_article.scss */
#orcid-id-logo {
  float: left;
  padding-right: 4px;
}

.comment-markup {
  margin-bottom: 20px;
}

.comment-markup em,
.comment-markup strong {
  font-weight: 600;
  color: #fff;
}

.submission-button-container .button {
  float: right;
  font-weight: 600;
  margin-left: 5px;
}

/* taxonomy hierarchy colors */
.grey-on-gold {
  background: #4A1010;
  color: #fff;
}

/* References */
.references {
  margin: 1em 0;
  padding: 0 0 0 1rem;
}

.references li {
  list-style-type: none;
  position: relative;
  margin-bottom: 1em;
  line-height: 1em;
}

.references .label {
  width: 20px;
  text-align: right;
  position: absolute;
  left: -2em;
}

.find-nolinks {
  margin: 0;
  padding: 0;
  height: 0;
}

.find {
  margin: 0;
  padding: 0;
  min-height: 1em;
}

.find li {
  float: left;
  margin: 0 4px 0 20px;
  list-style-type: disc;
}

.find li:first-child {
  margin-left: 0;
  list-style-type: none;
}