.coloration-bg,
.active.color-active,
.expanded .expander.color-active,
#page-browse #menu-browse,
#page-saved-items #menu-saved,
#page-recent-history #menu-recent,
li.accordion-item.expanded .expander,
.grey-on-gold,
nav.menu-bar li.active,
nav.menu-rounded li.active.coloration-white-on-color,
nav.menu-rounded td.active.coloration-white-on-color,
.coloration-white-on-color,
.main-accordion li.accordion-item.expanded > a,
.save-article.full.saved { background: #3e0577; }

.content a,
.coloration-text-color,
.two-btn-container a,
.full-menu-container .full-menu-tout h4,
.blue-link  { color: #3e0577; }

.coloration-light-text,
.active.color-active,
.expanded .expander.color-active,
#page-browse #menu-browse,
#page-saved-items #menu-saved,
#page-recent-history #menu-recent  { color: #d7df23; }

.coloration-white-on-color {
  background: #cc00a6;
  color: #fff;
}

.coloration-border-top {
  border-top-color: #d7df23;
}


.coloration-text-color {
  color: #d7df23;
}

.coloration-light-text {
  color: #d7df23;
}

.active.color-active {
  background: #d7df23;
  color: #333;
}

.coloration-bg {
  background: #eee;
}

.active.text-color {
  color: #000;
}

#page-browse #menu-browse,
#page-saved-items #menu-saved,
#page-recent-history #menu-recent {
  background: #d7df23;
  color: #333;
}

.accordion-item .accordion-logo {
  background-position: 0px -210px;
  width: 180px;
  height: 29px;
  background-repeat: no-repeat;
  background-image: url('../img/sprites/journals.png');
  background-size: 450px 288px;
}

li.accordion-item.expanded .accordion-logo {
  background-position: -225px -210px;
}

.amendment {
  background-color: #f4f6c3;
}

.brand-background-shade-lighter {
  background-color: #f4f6c3;
}
.brand-background-shade {
  background-color: #ecf09b;
}
.brand-background-shade-darker {
  background-color: #d7df23;
}
