# Compiled code #
*.class
*.pyc

# Package Files #
*.jar
*.war
*.ear

# Build locations #
overlays/
target/
.sass-cache/

# Project metadata #
.idea/
*.iml
*.ipr
*.iws
.classpath
.factorypath
.project
.settings/
test-output/

# Temporary files #
*~

# Backup files #
*.versionsBackup





plos-mobile-themes
plos-themes
src/main/webapp/WEB-INF/themes/desktop/codekit-config.json
.DS_Store
