# Compiled code #
*.class
*.pyc

# Package Files #
*.jar
*.war
*.ear

# Build locations #
overlays/
target/
.sass-cache/

# Project metadata #
.idea/
*.iml
*.ipr
*.iws

# Temporary files #
*~

# Backup files #
*.versionsBackup

# Eclipse project metadata
.settings/
.classpath
.project
.factorypath
test-output/
**/.local




plos-mobile-themes
plos-themes
src/main/webapp/WEB-INF/themes/desktop/codekit-config.json
.DS_Store
/.apt_generated/
