/*doc
---
title: ie.scss
name: ie.scss
category: Files
---

This is for IE specific styles mostly ie9 and below.

*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
/* line 21, ../../sass/ie.scss */
.top-bar-section .head-search form input[type="text"] {
  padding: 10px 0; }

/* line 24, ../../sass/ie.scss */
.top-bar-section ul > li.head-search > a {
  line-height: 32px !important;
  padding: 0 !important;
  font-size: 12px; }

/* line 29, ../../sass/ie.scss */
.top-bar-section ul > li.head-search > a:hover {
  text-decoration: underline; }

/* line 33, ../../sass/ie.scss */
.hero.overlay-dark > a:before, .hero.overlay-light > a:before {
  background: none !important; }

/* line 36, ../../sass/ie.scss */
.hero.overlay-dark .hero-content:before {
  position: absolute;
  width: 100%;
  height: 234px;
  background: url('../img/gradient-dark_1x364.png') repeat-x bottom;
  top: 0;
  left: 0;
  content: " "; }

/* line 46, ../../sass/ie.scss */
.hero.overlay-light .hero-content:before {
  position: absolute;
  width: 100%;
  height: 234px;
  background: url('../img/gradient-light_1x364.png') repeat-x;
  top: 0;
  left: 0;
  content: " "; }

/* line 55, ../../sass/ie.scss */
.hero .hero-content {
  height: 234px !important;
  padding-top: 103px !important; }

/* line 62, ../../sass/ie.scss */
.carousel-wrap.small .carousel-control .jcarousel-prev,
.carousel-wrap.small .carousel-control .jcarousel-next {
  font-size: 30px !important; }
