/*
Syntax error: Mixin grid-row doesn't have an argument named $container.
        on line 92 of /Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/_scaffold.scss, in `grid-row'
        from line 92 of /Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/_scaffold.scss
        from line 4 of /Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/_global-imports.scss
        from line 6 of /Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/screen.scss

Backtrace:
/Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/_scaffold.scss:92:in `grid-row'
/Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/_scaffold.scss:92
/Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/_global-imports.scss:4
/Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/screen.scss:6
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:33:in `perform_arguments'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:330:in `block in visit_mixin'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:98:in `with_mixin'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:88:in `block in with_import'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:88:in `with_import'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:88:in `block in with_import'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:88:in `with_import'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/engine.rb:275:in `block in render'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/util.rb:479:in `silence_sass_warnings'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.8/lib/sass/engine.rb:275:in `render'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:166:in `block in compile'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/logger.rb:46:in `red'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:165:in `compile'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `each'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `block in run'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:126:in `run'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/pgrinbaum/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:101:in `sass_modified'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:89:in `sass_callback'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/watch.rb:14:in `call'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/watch.rb:14:in `run_callback'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:69:in `block in listen_callback'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:66:in `each'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:66:in `listen_callback'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Mixin grid-row doesn't have an argument named $container.\A         on line 92 of /Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/_scaffold.scss, in `grid-row'\A         from line 92 of /Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/_scaffold.scss\A         from line 4 of /Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/_global-imports.scss\A         from line 6 of /Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/screen.scss"; }
