/*
Syntax error: Invalid CSS after "  h1{margin-top: ": expected expression (e.g. 1px, bold), was ".rem; font-size..."
        on line 14 of /Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/styleguide.scss

Backtrace:
/Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/styleguide.scss:14
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:1312:in `expected'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/script/lexer.rb:216:in `expected!'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/script/parser.rb:564:in `assert_expr'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/script/parser.rb:56:in `parse'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:1175:in `sass_script'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:1023:in `value!'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:985:in `declaration'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:688:in `block in declaration_or_ruleset'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:1288:in `call'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:1288:in `rethrow'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:698:in `declaration_or_ruleset'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:660:in `block_child'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:649:in `block_contents'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:641:in `block'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:634:in `ruleset'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:697:in `block in declaration_or_ruleset'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:1288:in `call'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:1288:in `rethrow'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:698:in `declaration_or_ruleset'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:660:in `block_child'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:649:in `block_contents'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:641:in `block'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:634:in `ruleset'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:659:in `block_child'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:652:in `block_contents'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/scss/parser.rb:41:in `parse'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/engine.rb:409:in `_to_tree'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/engine.rb:275:in `block in render'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/util.rb:479:in `silence_sass_warnings'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/sass-3.3.14/lib/sass/engine.rb:275:in `render'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:166:in `block in compile'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/logger.rb:46:in `red'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:165:in `compile'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `each'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `block in run'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:126:in `run'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/pgrinbaum/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:101:in `sass_modified'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:89:in `sass_callback'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/watch.rb:14:in `call'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/watch.rb:14:in `run_callback'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:69:in `block in listen_callback'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:66:in `each'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-1.0.0.alpha.19/lib/compass/watcher/project_watcher.rb:66:in `listen_callback'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/pgrinbaum/.rvm/gems/ruby-2.0.0-p247@global/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  h1{margin-top: \": expected expression (e.g. 1px, bold), was \".rem; font-size...\"\A         on line 14 of /Users/pgrinbaum/wombat/src/main/webapp/WEB-INF/themes/desktop/sass/styleguide.scss"; }
