/*
style changes to review with s, p & p

#lightbox-refs (#lightbox-refs) h3 normalize margins

#lightbox-abst (#lightbox-abst): padding top from 37px to 25px

download pdf button: change 636363 to 666666?
change rounded corner radius from 4px to 5px

color of bolded paragraph headings change from 636363 to 666666


info box on the right darker grey background & border: change from e8e8e8 to e7e7e7
(to use sass darken mixin of our grey-light variable of efefef)
*/

$fv-small: rem-calc(7);
$fv-grey-light: #eae9e9;
$fv-grey-bg: darken($grey-light, 3%);
// using the following until the variables get sorted out.

#article-lightbox {
  background: rgba(0,0,0,0.8);
  position: fixed;
  z-index: map-get($zindex, modal);
  top: 0;

  &.reveal-modal {
    border: 0 none;
  }

  #lightbox-content {
    background: $grey-light;
    margin: $pad-small;
    position: relative;
  }

  .fv-header {
    font-family: $font-face-fancy;
    padding: $fv-small rem-calc(280) 0 1.1%;
    height: rem-calc(46);
    background: $grey-dark;
    position: relative;
    border-right: rem-calc(46) solid transparent;
    z-index: map_get($zindex, topvisible);

    h1, h1 a {
      font-size: $txt-size-medium;
      margin: 0 0 rem-calc(2);
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $grey-light;
      line-height: normal;
    }

    a:hover {
      color: $grey-light;
      text-decoration: none;
    }
  }

  .fv-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;

    li {
      display: inline-block;
      float: left;
      border-right: 1px solid $grey-med-dark;
      padding: 0 $pad-smallish;
      font-size: $txt-size-medium-large;
      line-height: rem-calc(46);
      color: $white;
      cursor: pointer;
      outline: 0;

      // special handling for PLOSOne is in _utilities.scss in the brand color section
      &.tab_active {
        @extend %brand-background;
      }

      &:hover {
        background: $plos-default;
        color: $white;
      }
    }
  }

  .fv-close {
    background: image-url('sprite.fv.png') no-repeat -40px 0;
    position: absolute;
    right: rem-calc(-46);
    top: 0;
    width: rem-calc(46);
    height: rem-calc(46);
    cursor: pointer;
    color: $grey-light;
    &:hover {
      @extend %brand-background;
    }
  }

  > .content {
    padding: 0 !important;
  }

  h3 {
    margin-bottom: $pad-default;
    font-family: $font-face-plain;
    font-size: $txt-size-large;
    font-weight: bold;
    color: $grey-dark;
  }
}

#fvAuthors {
  height: rem-calc(15);
  line-height: rem-calc(15);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $txt-size-xxsmall;
  color: $grey-med-light;

  span {
    white-space: nowrap;
    padding-right: rem-calc(3);
  }
  span:last-child {
    padding-right: 0;
  }
}

.figs #lightbox-figs {
  // position: relative;
}

#lightbox-abst, #lightbox-refs {
  overflow: auto;
}

.invisible {
  visibility: hidden;
}

#fig-viewer-slides {
  position: relative;
  padding-top: rem-calc(2);
  padding-bottom: rem-calc(2);
}

#fig-viewer-slides .slide {
  overflow: hidden;
  display: none;
  position: relative;
}

#fig-viewer-slides .figure {
  //  overflow: hidden;
  border: solid 2px $grey-light;
  position: relative;
}

#fig-viewer-slides .figure img {
  display: block;

}

#fig-viewer-slides .ui-draggable {
  cursor: move;
}

#lightbox-figs .drag-bx {
  position: absolute;
}


#lightbox-figs .staging {
  display: none;
}

#fig-viewer-slides .datacon {
  position: relative;
  height: rem-calc(120);
  padding-top: $pad-medium;
  text-align: center;
  background: $grey-light;
  bottom: 0;
}

//FIGURE DESCRIPTION CONTAINER
#fig-viewer-slides .txt {
  width: 34.4%;
  background: $grey-light;
  background: rgba(239,239,239,0.95);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  font-family: $font-face-plain;
  font-size: $txt-size-small;
  line-height:rem-calc(18);
  z-index: map-get($zindex, header);

  a {
    color: $plos-default;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    padding-top: $pad-xsmall;
  }
}

//expand/collapse controls
#fig-viewer-slides .txt .more {
  padding: 0 5% $pad-smallish 3.1%;
  font-weight: normal;
  text-decoration: underline;
  color: $plos-default;
  margin-top: 1px;
  cursor: pointer;
  white-space: nowrap;
}

// closer 'x' in upper right corner
#fig-viewer-slides .txt .less {

  @extend %brand-background;
  width: rem-calc(11);
  height: rem-calc(11);
  background: image-url('sprite.fv.png') -20px -20px;
  position: absolute;
  top: rem-calc(9);
  right: 0.9%;
  margin-right: rem-calc(14);
  cursor: pointer;
  display: none;
  border-radius: $border-radius-smaller;
  &:hover {
    background-color: $plos-default;
  }
}
// class .expanded is added via js
#fig-viewer-slides.txt-expand .text-less,
#fig-viewer-slides.txt-expand .more,
#fig-viewer-slides .text-more {
  display: none;
}

#fig-viewer-slides.txt-expand .less {
  display: block;
}

#fig-viewer-slides .txt .fig_title {
  padding-top: rem-calc(3);
  padding-right: rem-calc(16);
  margin-bottom: 0;
  font-weight: bold;
  line-height: rem-calc(16);
}

#fig-viewer-slides .txt .text-less {
  height: rem-calc(88);
}

#fig-viewer-slides .txt > div {
  padding: 0 5% 0 3.1%;
}

#fig-viewer-slides.txt-expand .text-more {
  display: block;
  height: rem-calc(190);
  overflow-y: auto;
  border-top: 1px solid #ccc; // was #bbb
  border-color: rgba(0, 0, 0, 0.2);
}



#fig-viewer-slides .datacon .btn {
  @extend .button-big;
  font-size: $txt-size-small;
  line-height: rem-calc(27);
  padding: 0 $pad-smallish;
}

#fig-viewer-slides .show_context {
  margin-top: rem-calc(10);
  position: relative !important;
}

#lightbox-figs .download {
  position: absolute;
  top: rem-calc(40);
  right: 2.7%;
}

#lightbox-figs .download h3 {
  float: left;
  font-size: $txt-size-small;
  line-height: rem-calc(27);
  margin: 0;
}

#lightbox-figs .download .item {
  float: left;
  margin-left: $pad-default + $pad-xsmall;
}
#lightbox-figs .download .item a {
  display: block;
  color: $grey-dark;
  text-decoration: none;
}
#lightbox-figs .download .size {
  display: block;
  font-size: 0.769em;
  margin-top: $pad-xsmall;
}
#lightbox-figs .download .item a:hover .btn {
  background: $plos-default;
  color: $white;
}

#fig-viewer-thmbs {
  display: none;
  padding-top: 35px;
  width: 163px;
  position: absolute;
  top: 46px;
  right: 0;
  background: $fv-grey-light;
}

.thmbs-vis #fig-viewer-thmbs {
  display: block;
}

#fig-viewer-thmbs .btn-thmb-close {
  @extend %brand-background;
  color: $white;
  background: image-url('sprite.fv.png') 0 -20px;
  width: $pad-smallish;
  height: $pad-smallish;
  border-radius: $border-radius-small;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

}

#fig-viewer-thmbs .btn-thmb-close:hover {
  background-color: $plos-default;
  background-position: 0 -20px;
}

#fig-viewer-thmbs-content {
  padding-left: rem-calc(17);
  overflow: auto;
  background: $fv-grey-light;
  //Ambra code
  background: linear-gradient(to right, $fv-grey-light 0%, $fv-grey-light 20px, $grey-light 20px, $grey-light 143px,$fv-grey-light 143px, $fv-grey-light 100%);
}

#fig-viewer-thmbs .thmb {
  width: rem-calc(129);
  height: rem-calc(96);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: $pad-xsmall;
  background-color: $white;
}

#fig-viewer-thmbs .thmb .thmb-wrap {
  width: rem-calc(129);
  height: rem-calc(96);
  display: table-cell;
  vertical-align: middle;
}

#fig-viewer-thmbs .thmb.active {
  cursor: default;
  img {
    @extend %brand-border;
  }
}

#fig-viewer-thmbs .thmb img {
  border: 3px solid transparent;
  height: auto;
  width: auto;
  max-width: rem-calc(123);
  max-height: rem-calc(90);
  display: block;
  margin: 0 auto;
}

#fig-viewer-controls {
  @extend %brand-background;
  position: absolute;
  bottom: rem-calc(90);
  width: 100%;
  height: rem-calc(30);
}

//code is from ambra
#fig-viewer-controls .loading-bar {
  position: absolute;
  left: 50%;
  top: rem-calc(11);
  width: rem-calc(218);
  height: rem-calc(10);
  margin-left: rem-calc(-109);
  text-align: center;
  background-color: rgba(255,255,255,0.39);
  border-radius: $border-radius-default;
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.4) 25%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0.4) 75%, rgba(255,255,255,0.4));
  background-image: linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.4) 25%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0.4) 75%, rgba(255,255,255,0.4));
  background-size: 10px 10px;
  -webkit-animation: lb_move 3s linear infinite;
  animation: lb_move 3s linear infinite;
}

@-webkit-keyframes lb_move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@keyframes lb_move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

#fv-zoom {
  display: none;
  position: absolute;
  left: 50%;
  top: $fv-small;
  width: rem-calc(256);
  margin-left: rem-calc(-128);
  padding-top: $pad-xsmall;
}

#fv-zoom-sldr {
  width: rem-calc(206);
  margin: 0 auto;
  height: $fv-small;
  border: 0;
  border-radius: $border-radius-small;
  background: #ccc;
  background: rgba(255,255,255,0.64);
}

#fv-zoom-sldr .ui-slider-handle {
  position: relative;
  display: block;
  width: rem-calc(14);
  height: rem-calc(14);
  border-radius: 50%;
  background-color: $white;
  border: 0 none;
  margin-left: rem-calc(-3);
  cursor: ew-resize;
  top: rem-calc(-3);
  &:focus {
    outline: 0;
  }
}

#fv-zoom-min,
#fv-zoom-max {
  width: rem-calc(16);
  height: rem-calc(16);
  background: image-url('sprite.fv.png');
  cursor: pointer;
  position: absolute;
  top: 0;
}

#fv-zoom-min {
  left: -2px;
  background-position: -110px 0;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

#fv-zoom-max {
  right: -2px;
  background-position: -90px 0;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

#fig-viewer-controls .fig-btn {

  display: block;
  float: right;
  padding: 0 $pad-small;
  border-left: 1px solid #666;
  border-color: rgba(51,51,51,0.25);
  line-height: $pad-medium;
  font-family: $font-face-fancy;
  font-size: $txt-size-medium;
  color: $white;
  cursor: pointer;
}

.fig-btn .icn {
  background-image: image-url('sprite.fv.png');
}

#fig-viewer-controls .thmb-btn {
  padding: 0;
  width: rem-calc(162);
  text-align: center;
  font-weight: bold;
}

#fig-viewer-controls .thmb-btn .icn {
  display: inline-block;
  width: rem-calc(16);
  height: rem-calc(16);
  vertical-align: middle;
  background-position: -90px -20px;
  margin-right: rem-calc(2);
}

#fig-viewer-controls .fig-btn:hover,
.thmbs-vis #fig-viewer-controls .thmb-btn {
  background-color: $plos-default;
  color: $white;
}

#fig-viewer-controls .thmb-btn:hover .icn,
.thmbs-vis #fig-viewer-controls .thmb-btn .icn {
  background-position: -110px -20px;
}

.fig-btn.next .icn,
.fig-btn.prev .icn {
  display: block;
  width: $fv-small;
  height: rem-calc(11);
  margin-top: $pad-small;
}

.fig-btn.next .icn {
  background-position: -140px -20px;
  float: right;
  margin-left: 6px;
}

.fig-btn.next:hover .icn {
  background-position: -140px -20px;
}

.fig-btn.prev .icn {
  background-position: -130px -20px;
  float: left;
  margin-right: rem-calc(6);
}

.fig-btn.prev:hover .icn {
  background-position: -130px -20px;
}
#lightbox-abst {
  display: none;
  overflow: auto;
  font-family: $font-face-fancy;
  padding: rem-calc(37) 0 rem-calc(75);

  .abstract {
    float: left;
    width: 59.7%;
    margin-left: 1.1%;
    padding: 0;
    font-size: rem-calc(19);
    line-height: rem-calc(22);

    a {
      @extend %link-text-default;
    }
  }

  .abstract p {
    margin-bottom: $pad-default + $pad-xsmall;
    font-family: $font-face-fancy;
    font-size: $txt-size-medium-large;
    line-height: rem-calc(20);
  }

  .info {
    position: relative;
    float: right;
    font-size: $txt-size-medium;
    width: 34.8%;
    margin-right: 1.1%;
    padding: 3px 0 0;
    line-height: rem-calc(14);
    p {
      border: 1px solid #e1e1e1;
      border-top-width: 0;
      margin: 0;
      padding: rem-calc(6) rem-calc(8) rem-calc(9);
      line-height: rem-calc(14);
    }
  }
  .info p:first-child {
    border-top-width: 1px;
  }

  .info p:nth-child(odd) {
    background: $fv-grey-bg;
    border-right-color: $fv-grey-bg;
    border-left-color: $fv-grey-bg;
  }

  .info p:nth-child(1) {
    border-top-color: $fv-grey-bg;
  }
}

#lightbox-abst .info p strong {
  font-size: $txt-size-medium;
  font-weight: bold;
  display: block;
  color: $grey-med-dark;//#636363;
  line-height: rem-calc(15);
}

#lightbox-abst .fv-lnk-pdf a {
  @include rounded-pill($background: $grey-med-dark, $padding: 0 rem-calc(23));
  color: $white;
  font-family: $font-face-plain;
  font-size: $txt-size-medium-large;
  line-height: rem-calc(28);
  /*
   background: #636363;*/
  &:hover {
    color: $white;
    background: $plos-default;
    text-decoration: none;
  }
}

#lightbox-refs {
  display: none;
  padding-top: $pad-default + $pad-xsmall;
  overflow:auto;
}

#lightbox-refs h3 {
  margin: 0 0 rem-calc(7) rem-calc(21);
  line-height: rem-calc(24);
}

#lightbox-refs ol {
  padding-left: rem-calc(40);
  width: 87.5%;
  margin: 0;
  list-style-type: none;
}

#lightbox-refs ol > li {
  font-size: $txt-size-medium-large;
  font-weight: bold;
  line-height: rem-calc(20);
  margin-bottom: $fv-small;

  a {
    color: $plos-default;
    font-weight: bold;
    &:hover {
      color: $plos-default;
      text-decoration: underline;
    }
  }
}

#lightbox-refs span.order {
  margin-left: rem-calc(-26);
  float: left;
  width: $pad-default;
  text-align: right;
  font-weight: bold;
}

#lightbox-refs .reflinks a {
  font-weight: normal;
  font-size: $txt-size-small;
}