
/*
 *       These are the header styles
  page-wrap
   topbanner
   pagehdr-wrap
     nav-user (***production has "user")
     pagehdr
       contain-to-grid
         nav-main (foundation topbar)
           logo
           top-bar-section
               ul.nav-elements /
               li:
                 'browse'
                 'for authors'
                 'about us'
                 'search'
 */
.head-top {
  @extend .bg-dark;
  @extend .text-center;
  @include highlight-border($plos-default); /*TODO: use themes journal-specific css to assign border color*/
  padding: 0 $pad-small;
}
.ad-head {
  iframe {
    padding-left: 18px;
    background: image-url('text.vert.ad.gif') no-repeat left remcalc(5);
  }
}

$width-logo: 5;
$width-search: 4;
$width-nav: $block-grid-elements - $width-logo;

#pagehdr-wrap {
  .nav {
    @include grid-row();

    .nav-user {
      @extend .inline-list; // from foundation
      @extend .right; // from foundation
      //  @include grid-column($columns:4, $float:right); // from foundation
      font-weight: bold;
      > li {
        margin-top: rem-calc(-5);
        margin-left: rem-calc(4);

        > a {
          @include rounded-pill(transparent, rem-calc(14 16 8));
          color: $plos-default;

          &:hover {
            color: $clr-highlight-text;
            background: $plos-default;
          }
        }
      }
      li.highlighted {
        > a {
          color: $clr-highlight-text;
          background: $plos-bio;
        }
      }
    }
  }

  .logo {
    @include grid-column($width-logo); // from foundation
    @extend .title-area;
    text-indent: -9999px;
    height: 41px;
    background: image-url('logo.png') no-repeat 0 0;
  }
  .home-link {
    @extend .name;
  }
}

/* using Foundation Top Bar
 all @extend .class are Foundation
 */

.nav-main {
  > .dropdown {
    visibility: hidden;
  }
 @extend .top-bar;
  font-family: $font-face-navigation;
  .top-bar-section {
    width: 960px;
  }
  .top-bar-section ul.nav-elements {
    @extend .left; // foundation
    @include grid-column($width-nav); // from foundation
    padding-right: 0;
    padding-left: 0;
  }

  .top-bar-section ul.nav-elements > li.has-dropdown {
    cursor: pointer;
    margin-lef: 3px;
    border-left: 1px solid $clr-separator;
    line-height: 36px;
    padding: 0 15px;
    font-family: $font-face-navigation;
    font-size: $txt-size-xlarge;
    &:first-child {
      border-left: none;
      margin-left: 0;
    }
    &:last-child {
      border-left: 1px solid $grey-light;
    }
  }
  .dropdownanchor {
    width: 100%;
    line-height: 1;
    padding: rem-calc(7 30 8 30);
    font-family: $font-face-plain;
    font-size: rem-calc($txt-size-medium);
    white-space: pre-wrap;
    &:hover {
      color: $clr-highlight-text;
      background: $clr-highlight-hover;
    }

  }
  .top-bar-section ul.nav-elements > li.has-dropdown.hover {
    @include border-top-radius();
    box-shadow: $nav-main-box-shadow;
    background: $white;
    &:hover + li {
      border-left: 1px solid $grey-light;
    }
    > ul.dropdown {

      @include border-radius();
      width: rem-calc(240);
      margin-left: rem-calc(-15);
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(30);
      background: $white;
      box-shadow: $nav-main-box-shadow;
    }
    li:nth-child(3) {
      ul.dropdown {
        margin-left: rem-calc(-110);
      }
    }

    ul.dropdown li a {
      @extend .dropdownanchor;
    }

    .calloutcontainer {
      width: 530px;
      margin-left: rem-calc(-290);
      padding: rem-calc(20 0 30);
      background: white;
      box-shadow: $nav-main-box-shadow;
      @include border-radius();

      .submit {
        //'Submit your manuscript' callout
        position: relative;
        float: left;
        display: inline !important;
        width: rem-calc(280);
        margin-right: $pad-small;
        padding: rem-calc(0 20 30 15);
        font-family: $font-face-navigation;
        font-size: rem-calc($txt-size-medium);

        h3 {
          @extend .header-bottom-shadow;
          margin-top: $pad-xsmall;
          font-size: rem-calc($txt-size-23large);
        }
        ul {
          margin-left: rem-calc(15);
          display: block !important;
          list-style-type: disc;
          width: auto;
          li {
            margin-left: rem-calc(15);
            width: auto;
            a {
              // necessary to override the foundation styles
              display: inline !important;
              margin: 0;
              padding: 0;
              line-height: 1.35;
              font-family: $font-face-navigation;
              font-size: rem-calc($txt-size-medium-large);
              background: $white;
              color: $clr-link;
              &:hover {
                text-decoration: underline;
              }
            }
          }

        }
        a.btn {
          @include rounded-pill($clr-btn-secondary);
          display: inline-block;
          margin-top: rem-calc(20);
          margin-left: rem-calc(15);
          padding: rem-calc(0 10);
          line-height: 35px;
          &:hover {
            background: $clr-btn-primary;
          }
        }
      }
      .dropdowncallout {
        float: right;
        display: inline-block;
        width: rem-calc(240);
        border-left: 1px solid $grey-light;
        background: $white;
        @include border-radius();
        li a {
          @extend .dropdownanchor;
        }
      }
    }
  }
 .head-search {
    // $last-column: true; // from foundation
    //@extend .has-form;   // from foundation
    @include grid-column($width-search); // from foundation
    padding-left: rem-calc(20);
    padding-right: 0;
   border-left: 1px solid $grey-light;
    text-align: right;
    form {
      $fieldset-padding: 0;   // from foundation
      $fieldset-margin: 0;   // from foundation
      $input-box-shadow: none; // from foundation
      $input-include-glowing-effect: false; // from foundation
      $input-font-size: rem-calc($txt-size-xxlarge); // from foundation
      margin-top: rem-calc(-5);
      legend, label {
        display: none;
      }

      input[type="text"] {

        $form-spacing: rem-calc(14);  // from foundation
        $input-border-radius: 0; // from foundation
        $input-include-glowing-effect: false; // from foundation
        $input-font-color: $clr-body-text; // from foundation
        $input-border-color: $white; // from foundation
        $input-focus-border-color: $white; // from foundation
        @include form-element(); // from foundation
        width: rem-calc(175);
        color: $grey-med;
      }
      ::-webkit-input-placeholder {
        color: black;
      }

      :-moz-placeholder { /* Firefox 18- */
        color: black;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        color: black;
      }

      :-ms-input-placeholder {
        color: black;
      }
      button[type="submit"] {
        @include postfix($white, $white); //foundation
        width: 40px;
        height: 42px;
        border: none;

        .search-icon {
          @extend .fa;
          @extend .fa-search;
          //padding-top: rem-calc(4);
          font-size: rem-calc($txt-size-xlarge);
        }
      }
    }
  }

  //overrides for top-bar styles: they have to be here to work
  .top-bar-section ul li.head-search a {
    margin-top: rem-calc(-10);
    line-height: 33px;
    width: rem-calc(175);
    padding: 0 !important;
    font-size:  rem-calc($txt-size-small);

    @include link-text($clr-highlight-hover, underline);
  }
  .top-bar-section ul li.head-search:hover:not(.has-form) > a {
    background: $grey-light;
  }

}