$level-title-height: rem-calc(14);
$level-title-margin-bottom: rem-calc(9);
$level-top-height: rem-calc(30);
$level-scroll-height: rem-calc(158);
$level-up-down-height: rem-calc(20);
$level-margin-bottom: rem-calc(7);
$level-container-height: $level-title-height + $level-title-margin-bottom + $level-scroll-height
 + $level-top-height + (2 * $level-up-down-height) + $level-margin-bottom;

$level-width: rem-calc(286);
$level-margin-right: rem-calc(7);
$level-container-width: ($level-width * 3 + $level-margin-right * 2);

$areas-bg: #242424;
$level-selection-bg: #3b3b3b;

.areas {
  background: $areas-bg;
}

.areas .wrapper {
  width: 960px;
  padding: 17px 0 21px;
  margin: 0 auto;
}

#taxonomy-browser {
  display: none;
  border-bottom: solid $grey-light 21px;

  .next {
    @extend .icon-chevron-right;
    color: $white;
    text-align: right;
    line-height: rem-calc(44);

    //todo: figure out why we need this &:before content in IE and FF
    &:before{
      content: "\f054";
    }

    &:hover {
      background-color: $grey-light;
      @extend .fa-inverse;
      @extend %rounded-default;
    }
  }

  .prev {
    @extend .icon-chevron-left;
    color: $white;
    text-align: center;
    line-height: rem-calc(44);

    &:hover {
      background-color: $grey-light;
      @extend .fa-inverse;
      @extend %rounded-default;
    }
  }

  .levels {
    padding: 0 41px;
    position: relative;
  }

  .prev, .next {
    display: none;
    width: rem-calc(35);
    height: rem-calc(41);
    cursor: default;
    position: absolute;
    top: rem-calc(97);
    left: 0;
  }

  .next {
    left: auto;
    right: $level-margin-right;
  }

  .prev.active, .next.active {
    cursor: pointer;
  }

  .levels-container {
    width: $level-container-width;
    height: $level-container-height;
    overflow: hidden;
    position: relative;
  }

  .touch .levels-container {
    overflow-x: auto;
  }

  .levels-container::-webkit-scrollbar {
    display: none;
  }

  .levels-position {
    width: 99999px;
    position: absolute;
  }

  .level {
    float: left;
    width: $level-width;
    height: $level-up-down-height * 2 + $level-scroll-height + $level-margin-bottom;
    font-weight: bold;
    color: $grey-med-dark;
    margin-right: $level-margin-right;
    position: relative;

    ul {
      font-size: rem-calc(14);
      width: $level-width;
      list-style-type: none;
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
    }

    ul li {
      margin-bottom: rem-calc(2);

      a {
        display: block;
        padding: 9px 20px 9px 15px;
      }
    }

    .level-scroll a {
      text-decoration: none;
      color: $grey-dark;
    }
  }

  .no-touch .level .level-scroll a:hover {
    color: $white;
    background: $plos-default;
  }

  .level-scroll {
    width: $level-width;
    height: $level-scroll-height;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    border: 1px solid $grey-light;
    background: $grey-light;
  }

  .level-title {
    font-size: $level-title-height;
    margin-bottom: $level-title-margin-bottom;
  }

  .level-top {
    @extend .level;
    @extend %rounded-default;
    float: none;
    background-color: $grey-light;
    height: $level-top-height;
    margin-bottom: $level-margin-bottom;
    line-height: rem-calc(30);
    font-size: rem-calc(14);

    a {
      color: $grey-dark;
      padding-left: rem-calc(15);
    }
  }

  .touch .level-scroll {
    overflow: auto;
  }

  .level-scroll::-webkit-scrollbar {
    display: none;
  }

  /* active levels */
  .level-active {

    li a {
      &::after {
        @extend .icon-caret-right;
        @extend .menu-icon-right;
      }
    }

    .no-children::after {
      @extend .icon-circle;
      @extend .menu-icon-right;
    }

    .down:hover, .up:hover {
      @extend .fa-inverse;
    }

    .level-top {
      background-color: $plos-one;
    }

    .level-title {
      color: $plos-one;
    }
  }

  %level-active-scroll {
    width: $level-width;
    height: $level-up-down-height;
    text-align: center;
    background-color: $grey-light;
    line-height: rem-calc(20);
    color: $black;
  }

  .hide-active-scroll {
    cursor: default;
    &::before {
      color: $grey-light;
    }
  }

  .up {
    @extend %level-active-scroll;
    @extend .icon-angle-up;
    @extend %rounded-default-top;
  }

  .down {
    @extend %level-active-scroll;
    @extend .icon-angle-down;
    @extend %rounded-default-bottom;
  }

  /* levels with selections made */
  .level-selection {

    .level-scroll, .level-top {
      border: 1px solid $level-selection-bg;
      background: $level-selection-bg;
    }

    .hide-active-scroll::before {
      color: $level-selection-bg;
    }

    .level-title {
      color: $grey-med-light;
    }

    .level-top a {
      color: $table-header-bg;
    }

    .up, .down {
      background: $level-selection-bg;
      color: $table-header-bg;
    }

    .level-scroll {

      a {
        color: $table-header-bg;
        &::after {
          @extend .icon-caret-right;
          @extend .menu-icon-right;
        }
      }

      .no-children::after {
          @extend .icon-circle;
          @extend .menu-icon-right;
      }

      a.active {
        color: $white;
        background: $plos-default;
      }
    }
  }
}