/*   This file contains design components used for Journals and Wombat Generic
 *
 */

@import "sections/footer"; //TODO should these be here or in screen.scss?
@import "sections/header"; //TODO should these be here or in screen.scss?


@mixin rounded-pill($background: $clr-highlight, $padding: $pad-default, $border-radius: $border-radius-default){
    background: $background;
    padding: $padding;
    border-radius: $border-radius;
    color: $clr-btn-text;
    display: inline-block;
    &:hover{
       background: $clr-link-hover;
    }

}

.pill{
  @include rounded-pill();

}





