$plos-one-shade1: #ecf09b;
$plos-one-shade2: $plos-one;
$plos-one-shade3: #f4f6c3;

.plosone {
  @include brandcolor($setcolor: $plos-one, $shade1: $plos-one-shade1, $shade2: $plos-one-shade2, $shade3: $plos-one-shade3, $text-color: $clr-body-text, $text-color-hover: $white);

  .logo {
    height: 40px;
  }

  .article-content .table-download .definition-label {
    color: $grey-dark;
  }
  .article-content .figure-inline-download ul li .definition-label a {
    color: $grey-dark;

    &:hover {
      text-decoration: none;
    }
  }

  //tabs on article lightbox
  #fig-viewer .fv-nav li.tab_active {
    color: $clr-body-text;
  }

  #fig-viewer-controls .fig-btn {
    color: $grey-dark;

    &.next {
      .icn {
        background-position: -140px 0;
      }

      &:hover .icn {
        background-position: -140px -20px;
      }
    }

    &.prev {
      .icn {
        background-position: -130px 0;
      }

      &:hover .icn {
        background-position: -130px -20px;
      }
    }
  }
}
.plosone  #fig-viewer-controls .fig-btn {
  &.next {
    .icn {
      background-position: -140px -20px;
    }
    &:hover .icn {
      background-position: -140px 0;
    }
  }
  &.prev {
    .icn {
      background-position: -130px -20px;
    }
    &:hover .icn {
      background-position: -130px 0;
    }
  }
}
