/*   This file contains design components used for Journals and Wombat Generic
 *
 */
$default-box-shadow-color: #333333;
$default-box-shadow-h-offset: 1px;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 5px;
$default-box-shadow-spread: 0;
$default-box-shadow-inset: false;



@mixin rounded-pill($background: $clr-highlight, $padding: $pad-default, $border-radius: $border-radius-default){
    background: $background;
    padding: $padding;
    border-radius: $border-radius;
    color: $clr-btn-text;
    display: inline-block;
    &:hover{
       background: $clr-link-hover;
    }

}

.pill{
  @include rounded-pill();
}

@mixin blocks(){
  background: $white;
  padding: rem-calc(10);
  @include single-box-shadow();
  @include border-radius();
  margin-bottom: $block-grid-default-spacing;


}

  ///PLACEHOLDER STYLES

@mixin stub(){
  background-color: $grey-med-light;
  color: $white;



}








