/*doc
---
title: Intro
name: a-intro
category: index
---

  The PLOS Styleguide contains examples of both SCSS code as well as our JS code for the PLOS family of journals. More general documentation can be found in Confluence.

*/

/*doc
---
title:  Basic styles
name:  basic_article
category:  article
---

<div class="article-content">
  <h2>I am an h2 - font-size - 18px - font-weight: bold - margin-top: 27px margin-bottom - 18px </h2>
  <p>paragraph: font-size - 13px - line-height-18px - margin-bottom - 13px. the vertical rhythm is based on multipes of 9, the horizontal rhythm is based on multiples of 10. most text<a href="blank"> is in arial </a></p>
    <p>A pika (/ˈpaɪkə/ py-kə; archaically spelled pica) is a small mammal, with short limbs, rounded ears, and no external tail. The name 'pika' is used for any member of the Ochotonidae</p>
  <h3>I am an h3  - font-size - 16px - font-weight: bold - margin-top: 9px margin-bottom - 9px </h3>
      <p>A pika (/ˈpaɪkə/ py-kə; archaically spelled pica) is a small mammal, with short limbs, rounded ears, and no external tail. The name 'pika' is used for any member of the Ochotonidae</p>
  <h4>I am an h4  - font-size - 16px - font-weight: normal - margin-top: 9px margin-bottom - 9px  </h4>
    <p>A pika (/ˈpaɪkə/ py-kə; archaically spelled pica) is a small mammal, with short limbs, rounded ears, and no external tail. The name 'pika' is used for any member of the Ochotonidae</p>
   <h2>I am an h2 followed by an h3</h2>
     <h3>I am an h3 followed by an h4 </h3>
  <h4>I am an h4 preceeded by an h3</h4>
<ul class="bulleted">
  <li> I am a list item - font-size: 13px, lineh eight - 18px, margin-bottom: 9px</li>
  <li>I have these funny arrows they are the same color as the text. I am also a list item but longer archaically spelled pica) is a small mammal, with short limbs, rounded ears, and no external tail. </li>
</ul>
<ol>
  <li> I am a numbered list item</li>
  <li>I am also a list item but longer archaically spelled pica) is a small mammal, with short limbs, rounded ears, and no external tail. </li>
</ol>
<blockquote><p>
I am a block quote: Diprotodon was the largest marsupial that ever lived. Diprotodon looked like a rhino without a horn. Its feet turned inwards like a wombat’s, giving it a pigeon-toed appearance. It had strong claws on the front feet, so it may have been able to dig up roots to eat. Footprints of its hairy feet have been found, so we know it had fur like a horse rather than being bald like a rhino. Diprotodon is found in sites all over Australia, except in Tasmania.</p>
</blockquote>

  <h2>I am an h2 following a block quote</h2>

  <p class="pullquote">
  I am a pullquote: Diprotodon was the largest marsupial that ever lived. Diprotodon looked like a rhino without a horn. Its feet turned inwards like a wombat’s, giving it a pigeon-toed appearance. It had strong claws on the front feet, so it may have been able to dig up roots to eat. Footprints of its hairy feet have been found, so we know it had fur like a horse rather than being bald like a rhino. Diprotodon is found in sites all over Australia, except in Tasmania.
  </p>
</div>

*/

/*doc

---
title:  Box styles
name:  box
category:  article
---
  <p> box styles apply to both corrections and boxes</p>
<div class="article-content">
<div class="box">
  <h2>I am an h2</h2>

  <ul class="bulleted">

  <li>PR is the task of automatically detecting patterns in datasets and using them to characterize new data. PR is a form of machine learning, which itself is a field within artificial intelligence. Machine learning can be divided into two major groups. In <em>supervised learning</em>, or PR, a computer system is trained using a set of pre-defined classes, and then used to classify unknown objects based on the patterns detected in training. In <em>unsupervised learning</em> there are no classes defined a priori, and the computer system subdivides or clusters the data, usually by using a set of general rules. An example of supervised learning is automatic detection of protein localization, in which the computer system is trained using images of probes for known sub-cellular compartments <a href="#pcbi.1000974-Boland1">[10]</a>. An example of unsupervised learning is clustering an expression profiling microarray experiment into groups of genes with similar expression patterns.</li>

  <li>Other approaches to PR include <em>semi-supervised learning</em>, which uses pre-defined classes to find new similarity relationships and define new groups, and <em>reinforcement learning</em>, in which decisions are improved iteratively based on a feedback mechanism and specified reward criteria. In this educational article we focus on the application of supervised learning to automated analysis of microscopy image datasets.</li>

  </ul>
    <h3>I am an h3</h3>
  <p>Other approaches to PR include <em>semi-supervised learning</em>, which uses pre-defined classes to find new similarity relationships and define new groups, and <em>reinforcement learning</em>, in which decisions are improved iteratively based on a feedback mechanism and specified reward criteria. In this educational article we focus on the application of supervised learning to automated analysis of microscopy image datasets.</p>
</div>

</div>

*/

/*doc
---
title:  special cases
name:  special
category:  article
---
<div class="article-content">

<h2>article Info</h2>
<div class="articleinfo"><p><strong>Citation:</strong>Rabus M, Söllradl T, Clausen-Schaumann H, Laforsch C (2013) Uncovering Ultrastructural Defences in <em>Daphnia magna</em> – An Interdisciplinary Approach to Assess the Predator-Induced Fortification of the Carapace. PLoS ONE 8(6):
        e67856.
        doi:10.1371/journal.pone.0067856</p><p><strong>Editor: </strong>Brock Fenton,
    		University of Western Ontario, Canada</p><p><strong>Received:</strong> August 20, 2012; <strong>Accepted:</strong> May 28, 2013; <strong>Published:</strong> June 12, 2013</p><p><strong>Copyright:</strong> © 2013 Rabus et al. This is an open-access article distributed under the terms of the Creative Commons Attribution License, which permits unrestricted use, distribution, and reproduction in any medium, provided the original author and source are credited.</p><p><strong>Funding:</strong>MR was funded by a research scholarschip awarded by the Universität Bayern e.V. <a href="http://www.unibayern.de/">http://www.unibayern.de/</a> TS and HCS were funded by the German Excellence Initiative via the ”Nanosystems Initiative Munich (NIM)”. <a href="http://www.nano-initiative-munich.de/en/">http://www.nano-initiative-munich.de/en/</a> CL was funded by the ESF (project "stressflea") and the DFG (project LA 2159/6-1). <a href="http://www.esf.org/">www.esf.org/</a> <a href="http://www.dfg.de/">www.dfg.de/</a> The funders had no role in study design, data collection and analysis, decision to publish, or preparation of the manuscript.</p><p><strong>Competing interests:</strong> The authors have declared that no competing interests exist.</p></div>


<div class="abstract">
 <h2>abstract title h2 - albert</h2>
 <p>Other approaches to PR include <em>semi-supervised learning</em>, which uses pre-defined classes to find new similarity relationships and define new groups, and <em>reinforcement learning</em>, in which decisions are improved iteratively based on a feedback mechanism and specified reward criteria. In this educational article we focus on the application of supervised learning to automated analysis of microscopy image datasets.</p>
  <h3>abstract title h3</h3>
  <p>Other approaches to PR include <em>semi-supervised learning</em>, which uses pre-defined classes to find new similarity relationships and define new groups, and <em>reinforcement learning</em>, in which decisions are improved iteratively based on a feedback mechanism and specified reward criteria. In this educational article we focus on the application of supervised learning to automated analysis of microscopy image datasets.</p>
</div>

</div>


*/