/*doc
---
title: Files
name: files
category: Files

These are the common files we use in our framework.

*/

/*doc
---
title: global-imports.scss
name: global-imports.scss
category: Files
---

This is a centralized import file that covers the main libraries and component files. you should import this into any new standalone .css
These are the files that need to be on each stand alone stylesheet, this is the basis of our framework

*/ 

@import "compass";  //an external library of usefull mixins - reset
@import "variables"; // basic settings for type, size and colors
@import "foundation"; //using the foundation library
@import "scaffold";  // grids and basic setup
@import "vendor/font-awesome"; // icons
@import "typography"; // type styles including sizes and vertical spacing
@import "sprites";   // icons and logos
@import "utilities"; // mixins and extensible styles specific to wombat and journals
@import "components"; // wombat and journal specific layout styles for large layouts
@import "forms";      // forms styles

//@import "journal"; //journal-specific  use this when the maven sass compiler is installed