
$grid-width-inside: ($row-width - $grid-gutter);

/* sets up the body container */
@mixin plos-grid-gutter-outside() {
  margin-left: ($grid-gutter / 2);
  margin-right: ($grid-gutter / 2);
}

@mixin plos-grid-row($container: false, $f-gridargs...) {
  @include grid-row($behavior: collapse, $f-gridargs...);
  @if $container == false{
    @include plos-grid-gutter-outside();
  } @else if $container == true {
    // do nothing
  }

}
//TODO - review where values come from
//TODO - do "if flexible" case

/// from foundation amending this so we can use rems

@function grid-calc($colNumber, $totalColumns) {
  $columnWidth: ($row-width / $totalColumns); // ($row-width / $total-columns);
  @return ( $colNumber * $columnWidth ) - $grid-gutter;
}

@mixin plos-grid-column($pixelwidth, $gutter: outside, $f-gridargs...) {

  // from foundation:
  @include grid-column($collapse: null, $f-gridargs...);
  // sets the width
  @if $pixelwidth == full-width {
    width: $grid-width-inside;
  } @else if $pixelwidth == columns {
    // do nothing
  } @else {
    width: rem-calc($pixelwidth);
  }

  // sets the gutter - adds one on the right and on the left.
  @if $gutter == outside{
    margin-left: ($grid-gutter / 2);
    margin-right: ($grid-gutter / 2);
  }
  @if $gutter == none{
    // do nothing
  }

}


/// this is a total kluge essentially this allows us to have the margins on the outside
@function grid-calc($colNumber, $totalColumns) {
  $columnWidth: ($row-width / $totalColumns); // ($row-width / $total-columns);
  @return ( $colNumber * $columnWidth );
}

@mixin plos-grid-column-nomargin($pixelwidth, $f-gridargs...) {
  // from foundation:
  @include grid-column($collapse: null, $f-gridargs...);
  // sets the width
  @if $pixelwidth == full-width {
    width: $grid-width-inside;
  } @else if $pixelwidth == columns {
    // do nothing
  } @else {
    width: rem-calc($pixelwidth);
  }

}

@mixin plos-grid-container($grid-type: fixed) {
  @include plos-grid-row($container: true);
  @if $grid-type == fixed {
    min-width: $grid-width;
    max-width: $grid-width; }
    margin: 0 auto;

}

//extendable styles


.plos-row {
  @include plos-grid-row($container: true);
}

.plos-row-nomargin {

}

// All the columns - expressed like this:
// .column-1
@for $i from 0 through $total-columns - 1 {
  .plos-column-#{$i} { @include plos-grid-column($pixelwidth: columns, $columns: $i); }
}



//TODO - do we use this?
main,
.head-main,
#pagehdr-wrap,
#pagehdr,
#pageftr .row {
  @include plos-grid-container;
}


