@include font-face("albert", font-files("fs_albert.ttf", "fs_albert.otf",  "fs_albert.svg",  "fs_albert.woff"));

//typography extension styles

.header-allcaps{
 font-size: rem-calc($txt-size-medium);
 font-family: $font-face-fancy;
 text-transform: uppercase;
}

.small-italic{
  @extend .small;
  font-size: rem-calc($txt-size-xxxsmall);
  font-style: italic;
}

.no-margin{ margin-bottom: 0;}