@include font-face("albert", font-files("fs_albert.ttf", "fs_albert.otf",  "fs_albert.svg",  "fs_albert.woff"));


@include font-face("albert-bold", font-files("fs_albert-bold-webfont.ttf", "fs_albert-bold-webfont.otf",  "fs_albert-bold-webfont.svg",  "fs_albert-bold-webfont.woff"));

@include font-face("FontAwesome", font-files("FontAwesome.ttf", "fontawesome-webfont.otf",  "fontawesome-webfont.svg",  "fontawesome-webfont.woff"));

//////////////
//header styles
///////////////

.header-allcaps{
 font-size: rem-calc($txt-size-medium);
 font-family: $font-face-fancy;
 text-transform: uppercase;
}
.header-allcaps-plain {
  @extend .header-allcaps;
  font-family: $font-face-plain;
}
.header-allcaps-xlarge {
  @extend .header-allcaps;
  font-size: rem-calc($txt-size-xlarge);
}
.highlighted-title {
  @extend .header-allcaps;
  @extend .highlight-color;
  margin-bottom: $pad-small;
}
.header-xlarge-light {
  font-size: rem-calc($txt-size-xlarge);
  color: $clr-light-text;
  font-family: $font-face-fancy;
}

.header-brand{
  @extend .highlight-background-nohover;
  padding: 0 $pad-default;
  font-family: $font-face-fancy;
  font-size: rem-calc($txt-size-medium-large);
  line-height: $pad-large;
}

.header-bottom-shadow {
  padding-bottom: rem-calc(17);
  margin-bottom: rem-calc(17);
  box-shadow: $default-header-shadow;
  text-align: center;
}

//////////////
//link styles
///////////////

// "decoration" sets the hover style:
// "none" = there is NO underline and the text turns the highlight color
// "underline" =  text stays the same color but has an underline
@mixin link-text($color: $clr-body-text, $decoration: none){
  color: $color;
  text-decoration: none;

  &:hover, a:hover{
    @if $decoration == none{
    color: $clr-highlight;
    text-decoration: none;
  }
    @elseif $decoration == underline{
      color: $color;
      text-decoration: underline;
    }
  }
}

.link-text-body, .link-text-body a{
  @include link-text();
}

.link-text-white, .link-text-white a{
  @include link-text($color: $white,$decoration: underline);
}

//////////////
//utility styles
///////////////
.small-italic{
 // @extend .small;
  font-size: rem-calc($txt-size-xxxsmall);
  font-style: italic;
}
.condense {
  letter-spacing: -1;
}
.no-margin{ margin-bottom: 0;}

//////////////
//form styles
///////////////

@mixin input-placeholder-color ($color: $clr-input-placeholder) {
  ::-webkit-input-placeholder {
    color: $color;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $color;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder {
    color: $color;
  }
}