/*      This file has wombat specific mixins and extensible styles
 *
 */

//compass overides

$default-border-radius: $border-radius-default;
// that name space convention in compass just really bugs me.

// color mixin:
@mixin highlight-color($clr-highlight: $plos-default) {
  color: $clr-highlight;
}

@mixin highlight-background($clr-highlight: $plos-default,
$clr-highlight-hover: $plos-default,
$clr-highlight-text: $white) {
  background: $clr-highlight;
  color: $clr-highlight-text;
  &:hover {
    background: $clr-highlight-hover;
  }
}

@mixin highlight-border($clr-highlight: $plos-default, $width: 6px, $position: bottom) {

  @if $position == bottom {
    border-bottom: $width solid $clr-highlight;
  } @else if $position == left {
    border-left: $width solid $clr-highlight;
  } @else if $position == right {
    border-left: $width solid $clr-highlight;
  } @else if $position == top {
    border-top: $width solid $clr-highlight;
  }
}

// color extensibles

.bg-dark {
  background: $grey-dark;
}

.highlight-color {
  color: $clr-highlight;
}

.highlight-background {
  background: $clr-highlight;
  color: $clr-highlight-text;
  &:hover {
    background: $clr-highlight-hover;
  }
}

.highlight-border {
  border-color: $clr-highlight;
}

// layout utilities

.center-simple {
  margin: 0 auto;
}

.pad-small-x {
  padding: $pad-small 0;
}

// use in the following way:
//  .DIV_THAT_NEEDS_OVERLAY:before{
//  @extend .overlay;
//  background: OVERLAY DETAILS
//  }
.overlay {
  background-position: bottom;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}