/*------------------------------------*\
   COLORS
\*------------------------------------*/

//journal specific

$plos-default: #3c63af; //blue
$plos-one: #f8af2d; //yellow
$plos-bio: #16a127; //green: biology, comp-bio, genetics
$plos-med: #891fb1; // purple: medicine, pathogens, ntds
$plos-currents: #1dbfe0; // light blue

$clr-brand: $plos-default;

$black: #000;
$white: #fff;
$grey-dark: #333;
$grey-med: #636363;
$grey-med-light: #ccc;
$grey-light: #efefef;

$warning: #e53350;
$success: #16a127;

//colors

$clr-highlight: $plos-default !default;
$clr-highlight-hover: $plos-default !default;
$clr-highlight-text: $white !default;

$clr-body-bg: $grey-light;
$clr-panel: $white;
$clr-separator: $grey-med-light;

$clr-link: $clr-highlight;
$clr-body-text: $grey-dark;
$clr-link-hover: $grey-dark;
$clr-muted: $grey-med;
$clr-light-text: $white;

$clr-warning: $warning;
$clr-success: $success;

$clr-btn-primary: $clr-highlight;
$clr-btn-secondary: $grey-dark;
$clr-btn-disabled: $grey-light;
$clr-btn-text: $white;

$clr-input-placeholder: $black;
$clr-input-active: $grey-med;

// grid values
$grid-gutter: 1.25rem;


// layout patterns
$border-radius-default: 5px;
$border-radius-large: 8px;
$default-box-shadow-color: rgba(0, 0, 0, 0.1);
$default-box-shadow-h-offset: 1px;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 5px;
$default-box-shadow-spread: 0;
$default-box-shadow-inset: false;
$default-header-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.3);

$nav-main-box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.15), 3px 3px 3px rgba(0, 0, 0, 0.15);

$pad-xsmall: ($grid-gutter / 4);  //5px
$pad-small: ($grid-gutter / 2);   //10px
$pad-default: $grid-gutter;       //20px
$pad-medium: ($grid-gutter *1.5); //30px
$pad-large: ($grid-gutter * 2);   //40px

// typography
$font-face-plain: "arial";
$font-face-fancy: "albert";
$font-face-fancy-bold: "albert-bold";
$font-face-icons: "icons-fawesome";

$font-face-copy: $font-face-plain;
$font-face-navigation: $font-face-fancy;
$font-face-headings: $font-face-fancy;

//Type Sizes
$txt-size-giant: 36px;
$txt-size-xxxxlarge: 28px;
$txt-size-xxxlarge: 26px;
$txt-size-23large: 23px;
$txt-size-xxlarge: 22px;
$txt-size-xlarge: 20px;
$txt-size-large: 18px;
$txt-size-medium-large: 16px; // TODO This is getting ridiculous there has to be a better way
$txt-size-medium: 14px;
$txt-size-small: 13px;
$txt-size-xsmall: 12px;
$txt-size-xxsmall: 11px;
$txt-size-xxxsmall: 10px;

$txt-size-pgtitle: $txt-size-giant;
$txt-size-default: $txt-size-small;
$txt-size-h1: $txt-size-xlarge;
$txt-size-h2: $txt-size-xxlarge;
$txt-size-h3: $txt-size-large;
$txt-size-h4: $txt-size-default;
$txt-size-h5: $txt-size-default; // may not use
$txt-size-h6: $txt-size-default; // may not use
$txt-size-note: $txt-size-small;






















