@charset "UTF-8";
@import "site-content";

body {
  background: $clr-header;
}

main {
  margin-top: 0;
}

h1 {
  font-family: $font-face-fancy;
  font-size: $txt-size-giant;;
}

h2 {
  font-family: $font-face-fancy;
  font-size: $txt-size-xxxxlarge;
  font-weight: normal;
}

.section:not(.cover) {
  background-color: $white;
  padding: $line-height $pad-large;
  margin: $line-height 0;
}

.cover {
  @extend .block-dark;
  color: $white;
  padding: $pad-default $pad-large;
  .header {
    text-align: center;
    margin-bottom: $line-height-medium;
  }
  .img {
    img {
      width: rem-calc(280);
      height: rem-calc(280);
    }
  }
  .credit {
    @extend .note;
    font-size: $txt-size-xxsmall;
  }
  h2 {
    display: block;
    text-align: center;
    font-weight: normal;
    font-family: $font-face-fancy;
    font-size: $txt-size-xxxlarge;
    margin: 0 0 $pad-xsmall 0;
    @extend %link-text-white;
    &:hover {
      text-decoration: none;
    }
    a:hover {
      @extend %brand-color;
      text-decoration: none;
    }
  }
  .kicker {
    margin: 0;
    font-size: $txt-size-xxsmall;
  }
}

.detail-container {
  @extend .plos-row;
  .img, .txt {
    @include plos-grid-column(320, $gutter-width: $pad-large);
  }
  .txt {
    padding: 0 $pad-small;
    p {
      font-size: $txt-size-medium;
    }
  }
  .img {
    border-right: 1px solid $grey-tinytext;
  }
}

.section h2 {
  font-size: $txt-size-xxxlarge;
  margin: $pad-small 0;
}

.item {
  font-size: $txt-size-default;
  padding: $line-height-small 0;
  h3 {
    font-size: 16px;
    margin-bottom: $line-height-small;

    a {
      color: #333;
    }

    a:hover {
      color: $clr-brand;
      text-decoration: none;
    }
  }

  .authors {
    color: #666;
    font-size: $txt-size-small;
  }

  h4 {
    font-size: $txt-size-default;
    color: #666;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: $line-height-xsmall;
  }
  p {
    margin-bottom: $line-height-xsmall;
  }

  ol {
    //margin-top: 5px;
    padding-left: 0;
    margin-left: 0;

    li {
      @extend .list-bullet-over-ride;
      list-style-type: none;
      margin-bottom: $line-height-xsmall;
    }
  }

  .links a {
    font-weight: bold;
    cursor: pointer;
  }
}


/* Right Navbar */
#nav-toc {
  ul li a {
    color: $grey-dark;
  }
}
