/*
 * This is the centralized import file for the main screen.css.
*/

@import "plos-one-homepage";

@import "sections/paging-controls";
@import "sections/search_results_alm";
@import "sections/plos-one/browse-filter-bar";

.nav-pagination {
  @extend %full-width-pagination;
}

#search-results .search-results-alm a {
  color: $plos-default;
}

.search-results-alm-container {
  padding-bottom: rem-calc(6);
}

.article-block IMG {
  max-width: none;
  height: auto;
}


/// temporary until we replace search results ALM

.search-results-alm-error { display: none;}