/*
 * This is the centralized import file for the main screen.css.
*/
@charset "UTF-8";
@import "global-library-imports";
@import "global-section-imports";
@import "pages/home";
@import "sections/paging-controls";
@import "sections/search_results_alm";
@import "sections/plos-one/nav-bar";
@import "sections/plos-one/article-list";
@import "sections/plos-one/rectangle-ad";
@import "sections/plos-one/social";
@import "sections/plos-one/ad-slot-bottom";
@import "sections/plos-one/browse-filter-bar";
@import "sections/plos-one/greyscale";

.nav-pagination {
  @extend %full-width-pagination;
}

#search-results .search-results-alm a {
  color: $plos-default;
}

.search-results-alm-container {
  padding-bottom: rem-calc(6);
}


/// temporary until we replace search results ALM

.search-results-alm-error { display: none;}