@import "global-library-imports";
@import "global-section-imports";
@import "sections/paging-controls";

  .editors-search-filter {
    width: 100%;
    display: table;
    position: relative;
    margin-bottom: $pad-default;

    label, .twitter-typeahead, .editors-search-button, #loading {
      float: left;
      margin-right: $pad-small;
    }

    label {
      font-weight: bold;
    }
    .twitter-typeahead {
      margin-top: rem-calc(-3);
    }
    #editors-search-input {
      font-size: $txt-size-default;
      min-width: rem-calc(230);
    }
    #loading {
      color: $grey-med;
    }
    .editors-search-reset {
      @extend .icon-times-circle;
      border: none;
      width: rem-calc(18);
      height: rem-calc(18);
      color: $grey-med-dark;
      background: $white;
      position: absolute;
      top: rem-calc(-1);
      left: rem-calc(304);
      padding: 0;
      display: none;


    }
  }
  .results {
    .counters {
      margin-bottom: $pad-default;
    }
    .nav-pagination {
      width: 100%;
      text-align: center;
      margin-bottom: $pad-default;

      a {
        display: inline-block;

        &.previous-page {
          float: left;
        }
        &.next-page {
          float: right;
        }
      }
    }
    .editors-list {
      @extend .list-no-bullet;

        .section-editor-icon {
          @extend .fa;
          @extend .fa-play;
          @extend %brand-color;
        }
      }
    }

