@import "global-library-imports";
@import "global-section-imports";
@import "sections/paging-controls";

.edboard.plosone {
  .editors-search-filter {
    width: 100%;
    display: table;
    position: relative;
    margin-bottom: $pad-default;

    label, .twitter-typeahead, .editors-search-button, #loading {
      float: left;
      margin-right: $pad-small;
    }

    label {
      font-weight: bold;
    }
    .twitter-typeahead {
      margin-top: rem-calc(-3);
    }
    #editors-search-input {
      font-size: rem-calc(13);
      min-width: rem-calc(230);
    }
    #loading {
      color: $grey-med;
    }
    .editors-search-reset {
      @extend .fa;
      @extend .fa-times;
      width: rem-calc(18);
      height: rem-calc(18);
      border: 0 solid #fff;
      color: white;
      background-color: $grey-med-dark;
      border-radius: rem-calc(4);
      position: absolute;
      top: rem-calc(-1);
      left: rem-calc(304);
      padding: 0;
      display: none;

      &:hover {
        @extend %highlight-background;
        cursor: pointer;
      }

    }
  }
  .results {
    .counters {
      margin-bottom: $pad-default;
    }
    .pagination {
      width: 100%;
      text-align: center;
      margin-bottom: $pad-default;

      .pagination-item {
        border-radius: rem-calc(4);
        display: inline-block;
        padding: 0 rem-calc(4);
        font-size: rem-calc(14);
        line-height: rem-calc(24) !important;
        background-color: $grey-med-light;
        min-width: rem-calc(16);
        color: $clr-body-text;
        font-weight: bold;
        box-sizing: content-box;

        &:hover:not(.separator):not(.disabled):not(.current) {
          @extend %highlight-background;
        }

        &.current {
          @extend %brand-background;
        }

        &.next, &.prev {
          @extend .fa;
          background-color: $grey-dark;
          color: white;

          &.disabled {
            opacity: 0.5;
          }
        }

        &.prev {
          @extend .fa-caret-left;
          float: left;
        }

        &.next {
          @extend .fa-caret-right;
          float: right;
        }
      }
    }
    .editors-list {
      @extend .inline-list;
      li {
        margin-bottom: $pad-default;

        &:last-child {
          margin-bottom: 0;
        }

        strong {
          display: inline-block;
        }

        .section-editor-icon {
          @extend .fa;
          @extend .fa-play;
          @extend %brand-color;
        }
      }
    }
  }
}