@import "screen";
@import "sections/ambra/forms";

/* Customized css for the FigShare dialog */
#popup .tile_mini a {
  color: #3C63AF;
}

.rca-title:hover {
  text-decoration: underline;
}

#media-coverage-modal {
  @extend %modal;
  @extend .small;

  #media-coverage-success, #media-coverage-failure {
    display: none;
  }
}

#media-coverage-data ul {
  margin-left: 0;

  li {
    list-style: none;
  }
}