@import "screen";
@import "vendor/foundation-datepicker";

@import "sections/ambra/forms";

/* Customized css for the FigShare dialog */
#popup .tile_mini a {
  color: $clr-highlight;
}

.rca-title:hover {
  text-decoration: underline;
}

#media-coverage-modal {
  @extend %modal;
  @extend .medium;

  #media-coverage-success, #media-coverage-failure {
    display: none;
  }

}

form.standard textarea#mcform-comment{
  height: 8em;
}

#media-coverage-data ul {
  margin-left: 0;

  li {
    list-style: none;
  }
}