@import "screen";
@import "vendor/foundation-datepicker";

@import "sections/ambra/forms";

/* Customized css for the FigShare dialog */
#popup .tile_mini a {
  color: $clr-highlight;
}

.rca-title:hover {
  text-decoration: underline;
}

#media-coverage-modal {
  @extend %modal;
  @extend .medium;

  #media-coverage-success,
  #media-coverage-failure {
    display: none;
  }

  #name-and-email {
    width: 100%;
  }
}

form.standard textarea#mcform-comment {
  height: 8em;
}

#media-coverage-data ul {
  margin-left: 0;
}

#media_coverage {
  margin: $line-height $line-height-large $line-height $line-height-small;
  width: 90%;
  a {
    @extend %brand-color;
    &:hover {
      text-decoration: underline;
    }
  }
  .plosone & {
    a { color: $plos-one-purple;
      &:hover {
        color: $black;
      }
    }
  }
}

#media-coverage-data {
  h4 {
    margin: $line-height-medium 0 $line-height-small;
    font-size: $txt-size-mediumish;
    font-weight: $normal;
  }
  ul {
    margin-left: 0;
    li {
      list-style: none;
      margin-bottom: $line-height-small;
      .item-publication {
        font-weight: $bold;
      }
    }
  }
}