@import "global-library-imports";
@import "global-section-imports";

.search-results-body {
  background-color: $clr-header;

  main {
    @extend .plos-row;
    width: (rem-calc($grid-width) - $grid-gutter);
    margin-bottom: rem-calc($line-height-large);

    article {
      @include plos-grid-column($pixelwidth: 760, $gutter: right);
      }

    aside {
      @include plos-grid-column($pixelwidth: 180);
      }

    .search-results-controls {
      @include plos-grid-column($pixelwidth: 980, $gutter: none);
      }
    }
  }

@mixin search-results-button($font-size: $txt-size-mediumish) {
  padding: rem-calc(7 20 7 20);
  margin-right: $pad-default;
  font-size: $font-size;
  line-height: $font-size;
  font-weight: bold;
  border-radius: $border-radius-default;
  display: inline-block;

  }

.search-results-button-branded {
  @include search-results-button;
  @extend %brand-background;
  }

.search-results-button-hover-branded {
  @extend .search-results-button-branded;
  &:hover {
    background-color: $plos-default;
    }
  }

.search-results-button-branded-small {
  @include search-results-button($txt-size-small);
  @extend %brand-background;
  }

.search-results-button-hover-branded-small {
  @extend .search-results-button-branded-small;
  &:hover {
    background-color: $plos-default;
    }
  }

.search-results-button-gray-small {
  @extend .search-results-button-branded-small;
  color: $white;
  background-color: #646464;

  &:hover {
    color: $white;
    }
  }

$controls-gray: #cccccc;

.search-results-controls {
  background: $grey-verydark;
  padding: rem-calc($line-height 0);
  margin-bottom: rem-calc($line-height-medium);
  position: relative;

  > form {

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;

      // fill vertically
      top: 0;
      bottom: 0;
      width: 300%;
      background: $grey-verydark;
      height: 100%;
      z-index: -1;
      }

    &:before {
      right: 0;
      }

    &:after {
      left: 0
      }

    .search-results-controls-first-row {
      @extend .plos-row;
      margin-bottom: rem-calc($line-height-medium);

      .search-field {
        @include plos-grid-column($pixelwidth: 760, $gutter: none);
        }

      .search-button {
        @include plos-grid-column($pixelwidth: 150, $gutter: none, $float: right);
        text-align: right;
        padding: 0;

        a {
          padding: $line-height-small $pad-medium;
          margin-right: 0;
          }
        }
      }

    button:focus {
      outline: none;
      }

    legend, label {
      display: none;
      }
    fieldset {
      border: none;
      }

    fieldset.search-field {
      display: inline;
      border: none;
      margin: 0;
      background-color: $white;

      }

    input[type="text"] {
      margin: 0;
      border: none;
      outline: 0;
      display: inline-block;
      width: rem-calc(700);
      font-family: $font-face-fancy;
      font-size: $txt-size-xlarge;
      color: $clr-input-active;
      top: 0 !important;
      }
    @include input-placeholder-color();

    button[type="submit"] {
      @include postfix($white, $white); // foundation
      padding: 0;
      margin: 0;
      border: none;
      display: inline-block;
      float: right;

      .search-icon {
        @extend .fa;
        @extend .fa-search;
        font-size: rem-calc($txt-size-xlarge);
        }
      }

    .search-results-flush-left {
      margin-left: 0;
      }

    .search-results-controls-second-row {
      padding-bottom: $pad-default;
    }

    .search-results-advanced-search-submit {
      float: right;
      line-height: rem-calc(15); //?
      }
    }

    .search-results-disabled-message {
      width: rem-calc(350);
      line-height: rem-calc(15);
      display: inline-block;
      color: $controls-gray;
      font-size: $txt-size-small;

      a {
        color: $controls-gray;
        text-decoration: underline;

        &:hover {
          color: $controls-gray;
        }
      }
    }
  }

.search-results-none-found {
  padding: rem-calc(30 0 30 40);

  p {
    font-size: $txt-size-xlarge;
    }

  span {
    font-weight: bold;
    }
  }

.search-results-num-found {
  font-size: $txt-size-medium-large;

  span {
    font-weight: bold;
    }
  }


.search-results-list {
  margin: rem-calc($line-height-small 0 $line-height-large);
  dd, dt {
    display: block;
    line-height: $line-height;
    }
  dt {
    margin-bottom: rem-calc($line-height-xsmall);
    }
  p {
    margin-bottom: rem-calc($line-height-xsmall);
    }
  }

.search-results-title {
  padding-bottom: rem-calc(0);
  padding-top: $line-height;

  }

.search-results-title a {
  @include link-text($color: $grey-dark, $color-hover: $plos-default, $decoration-hover: underline,
  $decoration-text: underline);
  font-size: $txt-size-medium-large;
  }

.search-results-authors {
  color: $grey-med-dark;
  margin-bottom: rem-calc(3px);
}

.search-results-doi {
  //padding-bottom: $line-height-small;
  }

// Paging controls (shared with mobile).

$inactive-background-color: #c2c2c2;

.nav-pagination {
  display: inline;
  }

@mixin search-results-rounded-control {
  display: inline-block;
  font-weight: bold;
  font-size: $txt-size-medium;
  line-height: $pad-default;
  padding: rem-calc(0 6px);
  min-width: rem-calc(16px);
  border-radius: $default-border-radius;
  }

.number, .switch, .skip {
  @include search-results-rounded-control;
  background-color: $inactive-background-color;
  text-align: center;
  margin: rem-calc(0 1px);
}

.switch {
  margin: rem-calc(0 50 0 0);
  background: $black;
  padding: 0;
  .icon-text {
    @extend .aria-text;
    }

  // Hide the text that is embedded and display an icon instead.
  .icon:before {
    width: $pad-default;
    white-space: nowrap;
    color: $white;
    }
  }

.previous-page {
  .icon:before {
    @extend .icon-caret-left;
    margin-left: -2px;
    }
  }

.next-page {
  .icon:before {
    @extend .icon-caret-right;
    }
  }

.active {
  @extend %brand-background;
  }

.search-results-num-per-page {
  display: inline-block;
  float: right;
  vertical-align: top;
  width: rem-calc(160px);
  margin: 0 0 0 0;
  font-size: $txt-size-medium-large;
  }

.search-results-num-per-page-selector {
  padding: 0;
  width: auto;

  select {
    @include search-results-rounded-control;
    @extend %brand-background;
    width: 100px;
    option {
      background-color: $inactive-background-color;
      }
    }
  }

.search-results-select {
  float: right;
  display: inline;
  select, label{
    @extend .search-results-button-branded-small;
    margin-right: 0;
    }

  label select {
    border-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: rem-calc(180);
    padding: 0;
    margin: 0;
    &:focus, &:active {
      outline: none;
      }
    }

  label {
    position: relative;
    display: block !important;
    width: rem-calc(195);
    overflow: hidden;
    cursor: pointer;
    padding-left: $pad-small;
    @extend .icon-caret-down;

    }

  label::before {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: right;
    line-height: rem-calc(29); /* from search-results-button */
    position: absolute;
    right: rem-calc(6); /* from search-results-button */
    top: 0;
    display: block !important;
    pointer-events: none;
    }

  label select::-ms-expand {
    display: none;
    }

  label:-moz-any(select) {
    width: 110%;
    }

  &html.ie9 label select {
    width: 110%;
    }

  }

.search-results-eoc {
  background: $clr-warning-bg;
  width: 22em;
  height: 2.5em;
  margin-top: -0.4em;
  padding-top: 0.5em;

  span {
    width: 14px;
    height: 15px;
    display: inline-block;
    margin-left: 0.8em;
    margin-right: 0.6em;
    background: image-url("icon-ExpOfConcern-retraction.png") no-repeat;
    }

  a {
    color: $warning;
    font-size: $txt-size-mediumish;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: rem-calc(20);
    }
  }

.search-results-alm, .search-results-alm-error {
  display: none;
  font-weight: bold;
  font-size: $txt-size-xxsmall;
  }

.icon-warning-stack {
  .icon-warning {
    color: $alert;
    }
  .fa-exclamation {
    color: $black;
    font-size: $txt-size-xxxsmall;
    }
  }

.filter-block {
  padding-top: $pad-small;

  span {
    float: left;
    line-height: rem-calc(20);
    padding-right: $pad-default;
    color: $controls-gray;
    font-size: $txt-size-small;
    font-weight: bold;
  }
}

.filter-item {
  @extend %rounded-default;
  font-size: $txt-size-small;
  line-height: $line-height-medium;
  float: left;
  color: $white;
  background: $grey-blah;
  font-weight: bold;
  margin-right: $pad-xsmall;
  margin-bottom: $pad-xsmall;
  padding-right: $pad-small;
  padding-left: $pad-small;
}

// Right-hand aside (currently just contains two disabled controls).

@mixin search-disabled-control {
  @extend %rounded-default;
  @include js-tooltip-container;
  background: #757575;
  color: $grey-light;
  cursor: default;
}

@mixin search-disabled-tooltip {
  @include js-tooltip-target();
  @include tooltip($width: 350px, $tooltip-padding: $pad-xsmall);
  top: 20px;
  text-align: center;
  background-color: $white;
  color: $grey-med;
  font-family: $font-face-plain;
}

$search-icon-pad-default: 8;

.search-alert {
  @include search-disabled-control;
  display: inline;
  padding: rem-calc($search-icon-pad-default + 1 $search-icon-pad-default $search-icon-pad-default - 3 $search-icon-pad-default);
  font-size: $txt-size-xsmall;
  font-weight: bold;
  text-transform: uppercase;

  &:after {
    @extend .icon-bell;
    padding-left: rem-calc($search-icon-pad-default);
    font-size: $txt-size-large;
    font-weight: normal;
  }

  .search-alert-tooltip {
    @include search-disabled-tooltip;
    left: -100%;
    font-size: $txt-size-small;
    text-transform: none;
  }
}

.search-feed {
  @extend .icon-rss;
  @include search-disabled-control;
  line-height: 85%;
  padding: rem-calc($search-icon-pad-default - 4 $search-icon-pad-default - 1 $search-icon-pad-default - 3 $search-icon-pad-default - 1);

  .search-feed-tooltip {
    @include search-disabled-tooltip;
    left: rem-calc(-150);
    font-size: $txt-size-small;
    font-weight: bold;
  }
}

