@import "global-library-imports";
@import "global-section-imports";
@import "vendor/foundation-datepicker";
@import "sections/paging-controls";
@import "sections/search_results_alm";

.search-results-body {
  main {
    //background-color: $clr-header;
    @extend .width-full; //from scaffold.scss
    margin-bottom: rem-calc($line-height-large);
    section {
      margin: 0 auto;
      @extend .plos-row;
    }
    .searchResults, #search-loading {
      @include plos-grid-column($pixelwidth: 760, $gutter: left);
    }

    #search-loading {
      height: rem-calc(100);
      position: relative;
      display: none;
    }

    aside {
      @include plos-grid-column($pixelwidth: 180, $gutter: none);
    }

  }
}

@mixin search-results-button($font-size: $txt-size-mediumish) {
  padding: rem-calc(7 20 7 20);
  margin-right: $pad-default;
  font-size: $font-size;
  line-height: $font-size;
  font-weight: bold;
  border-radius: $border-radius-default;
  display: inline-block;

}

// div.BLAH > label > select

@mixin dropdown-styled($width:225, $height:false, $padding:false, $margin: 7 10 7 20, $caret-spacing:.20em ) {
  display: inline-block;
  float: right;
  select, label {
    @extend .search-results-button-branded-small;
    margin-right: 0;
  }

  label select {
    border-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    &:focus, &:active {
      outline: none;
    }
    width: rem-calc($width);
    @if $height {
      height: rem-calc($height);
    }
    @if $padding {
      padding: rem-calc($padding);
    }

  }

  option {
    background: $grey-med-light;
    color: $black;
    outline: none;
  }

  label {
    position: relative;
    display: table !important;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    margin: 0;
    @extend .icon-caret-down;

  }

  label::before {
    vertical-align: middle;
    width: 100%;
    @if $height {
      height: rem-calc($height);
    }
    text-align: right;
    position: absolute;
    right: 0;
    margin: rem-calc($margin);
    top: $caret-spacing;
    pointer-events: none;
    display: table-cell;
    vertical-align: middle;
  }

  label select::-ms-expand {
    display: none;
  }

  label:-moz-any(select) {
    width: 110%;
  }

  &html.ie9 label select {
    width: 110%;
  }

}

.search-results-button-branded {
  @include search-results-button;
  @extend %brand-background;
}

.search-results-button-hover-branded {
  @extend .search-results-button-branded;
  &:hover {
    background-color: $plos-default;
  }
}

.search-results-button-branded-small {
  @include search-results-button($txt-size-small);
  @extend %brand-background;
}

.search-results-button-hover-branded-small {
  @extend .search-results-button-branded-small;
  &:hover {
    background-color: $plos-default;
  }
}

.search-results-button-gray-small {
  @extend .search-results-button-branded-small;
  color: $white;
  background-color: $grey-med-dark;

  &:hover {
    color: $white;
  }
}

$controls-gray: $grey-med-light;

.search-results-controls {
  background: $grey-dark;
  padding: rem-calc($line-height 0);
  margin-bottom: rem-calc($line-height);
  position: relative;
  color: $controls-gray;
  font-size: $txt-size-small;
  width: 100%;

  a {
    color: $controls-gray;
    text-decoration: underline;

    &:hover {
      color: $controls-gray;
    }
  }

  //   margin: 0 auto;
  //position: relative;
  //display: block;
  //height: 100%;

  .search-results-controls-first-row {
    @extend .plos-row;
    .search-field {
      width: 100%;
    }

    .search-button {
      @include plos-grid-column($pixelwidth: 150, $gutter: none, $float: right);
      text-align: right;
      padding: 0;

      a {
        padding: $line-height-small $pad-medium;
        margin-right: 0;
      }
    }
  }

  button:focus {
    outline: none;
  }

  legend, label {
    display: none;
  }
  fieldset {
    border: none;
  }

  fieldset.search-field {
    display: inline;
    border: none;
    margin: 0;
    padding: $pad-small;
    background-color: $white;
  }

  fieldset.disabled, fieldset.disabled button, input[disabled] {
    background-color: $clr-input-disabled;
    cursor: no-drop;
  }

  input[type="text"] {
    margin: 0;
    padding: 0;
    padding-left: rem-calc(3);
    border: none;
    outline: 0;
    display: inline-block;
    width: 95%;
    font-family: $font-face-fancy;
    font-size: $txt-size-xlarge;
    color: $clr-input-active;
    top: 0 !important;
  }
  @include input-placeholder-color();

  button[type="submit"] {
    @include postfix($white, $white); // foundation
    padding: 0;
    margin: 0;
    border: none;
    display: inline-block;
    float: right;

    .search-icon {
      @extend .fa;
      @extend .fa-search;
      font-size: rem-calc($txt-size-xlarge);
    }
  }

  .search-results-flush-left {
    margin-left: 0;
  }

  .search-results-controls-second-row {
    padding-bottom: $pad-default;
  }

  .search-results-advanced-search-submit {
    float: right;
    padding-top: $pad-xsmall;
  }

  .search-results-disabled-message {
    width: rem-calc(350);
    line-height: rem-calc(15);
    display: inline-block;
  }

}

.search-results-none-found {
  padding: rem-calc(30 0 30 40);

  p {
    font-size: $txt-size-xlarge;
  }

  span {
    font-weight: bold;
  }
}

.search-results-num-found {
  font-size: $txt-size-medium-large;
  span {
    font-weight: bold;
  }
}

.results-container {
  margin-top: rem-calc($line-height-medium) !important;
}

.search-results-list {

  dd, dt {
    display: block;
    line-height: $line-height;
  }
  dt {
    margin-bottom: rem-calc($line-height-xsmall);
  }
  dd {
    margin-bottom: rem-calc($line-height);
  }
  p {
    margin-bottom: rem-calc($line-height-xsmall);
  }
}

.search-results-title {
  padding-bottom: rem-calc(0);
  padding-top: $line-height-small;

}

.search-results-title a {
  @include link-text($color: $grey-dark, $color-hover: $plos-default, $decoration-hover: underline,
  $decoration-text: underline);
  font-size: $txt-size-medium-large;
}

.search-results-authors {
  color: $grey-med-dark;
  margin-bottom: rem-calc(3px);
}

.nav-pagination {
  @extend %floating-pagination;
}

.search-results-num-per-page {
  display: inline-block;
  float: right;
  vertical-align: middle;
  line-height: rem-calc(24px);
  width: rem-calc(160px);
  margin: 0;
  font-size: $txt-size-small;
}

.search-results-num-per-page-selector {
  @include dropdown-styled($width: 55, $height: 24, $padding: 0 0 0 10, $margin: 0 10 0 0, $caret-spacing: .38em);
}

.search-results-select {
  @include dropdown-styled;
  float: none;
  vertical-align: middle;
}

.search-results-eoc {
  background: $clr-warning-bg;
  width: 22em;
  height: 2.5em;
  margin-top: -0.4em;
  padding-top: 0.5em;

  span {
    width: 14px;
    height: 15px;
    display: inline-block;
    margin-left: 0.8em;
    margin-right: 0.6em;
    background: image-url("icon-ExpOfConcern-retraction.png") no-repeat;
  }

  a {
    color: $warning;
    font-size: $txt-size-mediumish;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: rem-calc(20);
  }
}

//TODO - make pattern out of these columns
//TODO- cleanout old css
//TODO - add sizes to variables.scss
$column-size: 180 + 20;
// TODO fix ems
$column-size-mid: ($grid-width - ($column-size *2));
$column-size-first: ($grid-width - $column-size);
.search-results-header {
  @extend .plos-row;
  font-size: $txt-size-small;
  margin-bottom: $line-height-medium !important;
  display: flex;
  align-content: center;

  > div {
    margin: auto
  }

  > div:nth-child(2) {
    @include plos-grid-column($pixelwidth: $column-size-mid, $gutter: none);
  }
  > div:first-child, > div:last-child {
    @include plos-grid-column($pixelwidth: $column-size, $gutter: none);
  }
  > div:last-child {
    text-align: right;
  }
  .results-number {
    line-height: 100%;
  }
  .search-sort {
    align-items: center;
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

}

.filter-view-container {
  background: $clr-header;
}

.filter-view {
  @extend .plos-row;
  font-size: $txt-size-small;
  padding: $line-height 0;
  display: flex;
  align-items: center;

  > div:first-child {
    text-align: left;
    @include plos-grid-column($pixelwidth: $column-size-first, $gutter: none);
  }

  > div:last-child {
    text-align: right;
    @include plos-grid-column($pixelwidth: $column-size, $gutter: none, $float:right);
  }

  .filter-item {
    display: inline-block;
    float: left;
    padding-left: $pad-medium;
    padding-top: $pad-xsmall;
    padding-bottom: $pad-xsmall;
    a:before {
      @extend .icon-close;
      font-size: $txt-size-default;
    }
  }

  .filter-label {
    display: inline-block;
    margin: 0;
    float: left;
    padding-right: $pad-medium;
  }
}

//TODO : remove this kludge for displaying empty results
.search-filters  ul:empty{display:none;}
.search-filters div {
  width: 100%;
  ul {

    @include nav-side($pad-left: 0);

    &:empty{display:none;}

    li {
      position: relative;
    }
    &.active-filters {
      border-bottom: 1px solid $clr-separator;
      padding-bottom:0;
      li a {font-weight: bold;}
    }
    li input {
      position: absolute;
      left: -$pad-default;
      top: 0;
    }
    li.toggle-trigger {
      margin-left: $pad-small;
      margin-top: $pad-xsmall;
      a {
        color: $plos-default;
      }
    }
  }
  form {
    input[type="submit"] {
      margin-top: $pad-small;
    }
    input[type="text"] {
      width: 75%;
      max-width: 100%;
    }
  }
  hr {
    margin-top: 0;
  }

}

// Right-hand aside (currently just contains two disabled controls).
$filter-size: rem-calc(28);
// when we redo the search I'll make sure all the filters and buttons are the same size.

@mixin search-disabled-control {
  @extend %rounded-default;
  @include js-tooltip-container;
  background: $clr-btn-disabled;
  color: $grey-light;
  cursor: default;
  vertical-align: top;
  height: $filter-size;
  line-height: $filter-size;
}

@mixin search-enabled-control {
  @extend %rounded-default;
  @include js-tooltip-container;
  background: $clr-brand;
  color: $white;
  cursor: pointer;
  vertical-align: top;
  height: $filter-size;
  line-height: $filter-size;
  &:hover {
    background-color: $clr-link-hover;
    color: $white;
  }
}

@mixin search-disabled-tooltip {
  @include js-tooltip-target();
  @include tooltip($width: 350px, $tooltip-padding: $pad-xsmall);
  text-align: center;
  background: $clr-btn-disabled;
  color: $grey-light;
  font-family: $font-face-plain;
  top: rem-calc(20);

}

@mixin search-enabled-tooltip {
  @include js-tooltip-target();
  @include tooltip($width: 350px, $tooltip-padding: $pad-xsmall);
  text-align: center;
  background: $clr-brand;
  color: $white;
  font-family: $font-face-plain;
  top: rem-calc(20);

}

$search-icon-pad-default: 8;

.search-alert {
  @include search-enabled-control;
  padding: rem-calc(0 $search-icon-pad-default);
  display: inline-block;
  font-size: $txt-size-xsmall;
  font-weight: bold;
  text-transform: uppercase;

  &:after {
    @extend .icon-bell;
    padding-left: rem-calc($search-icon-pad-default);
    font-size: $txt-size-large;
    font-weight: normal;
    line-height: $txt-size-large;
    vertical-align: middle;
  }

  .search-alert-tooltip {
    @include search-enabled-tooltip;
    left: -100%;
    font-size: $txt-size-small;
    text-transform: none;
  }
}

.search-feed {
  @extend .icon-rss;
  @extend %rounded-default;
  min-width: $filter-size;
  text-align: center;
  display: inline-block;
  font-size: $txt-size-large;
  background: $clr-brand;
  color: $white;
  cursor: default;
  vertical-align: top;
  height: $filter-size;
  line-height: $filter-size;

  &:hover {
    background-color: $clr-link-hover;
    color: $white;
  }
}

.search-results-ajax {
  .searchResults {
    .no-term {
      display: none;
    }
  }

  #searchFilters, .search-results-header {
    display: none;
  }
}

/* Modal styles */
#search-alert-modal.ajax {
  @extend %modal;
  @extend .small;

  border: 0px solid white;

  .grey-text {
    width: 100%;
  }
}

/* Advanced search rules */
.advanced-search-container {
  display: none;
}
#simpleSearchLink {
  display: none;
}
.edit-query {
  display: none;
}
@import "pages/advanced-search";
