@import "global-library-imports";
@import "global-section-imports";

/// scaffolding
main {
  @extend .plos-row;
  width: (rem-calc($grid-width) - $grid-gutter);
  margin-top: rem-calc($line-height-large);
  margin-bottom: rem-calc($line-height-large);

  nav {
    @include plos-grid-column($pixelwidth: 180, $gutter: right);
    position: relative;
    & + article {
      @include plos-grid-column($pixelwidth: 760, $gutter: none, $float: right);
      }
    }
  }

/// navigation
main nav ul {
    @include nav-enhanced;
    }

/// site content specific styles
@mixin site-content {

  p {
    overflow: auto;
    }
  //for image floating

  a {
    //TODO: redo links so that underline is standard
    @extend %link-text-default;
    }

  img.img-default {
    display: block;
    clear: both;
    margin: $line-height-small auto;
    }

  img.img-left {
    display: inline-block;
    margin: 0 $pad-small $line-height-small 0;
    text-align: left;
    float: left;
    }

  table img.img-default {
    @extend .img-left;
    }
  }
article {      // to work on ck editor editing
     @include site-content;
  ul{@extend .list-bullet;}
  }
