@charset "UTF-8";
@import "global-imports";
@import "sections/footer";
@import "sections/header";
/// scaffolding
main {
  @extend .plos-row;
  margin-top: rem-calc($line-height-large);
  margin-bottom: rem-calc($line-height-large);
  nav {
    @include plos-grid-column($pixelwidth: columns, $columns: 2);

  }
  article {
    @include plos-grid-column($pixelwidth: columns, $columns: 9);
  }
}

/// typefaces

article{
  a {     //TODO: redo links so that underline is standard
    @extend %link-text-default;
  }
}


/*doc
---
title: basic layout
name:  basic layout
category: site content
---



<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

<h2>Header Level 2</h2>

<ol>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
  <li>Aliquam tincidunt mauris eu risus.</li>
</ol>

<h3>Header Level 3</h3>

<ul class="bullet">
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
  <li>Aliquam tincidunt mauris eu risus.</li>
</ul>

*/

/*doc
---
title: callout styles
name:   callouts
category:  site content
---

<h3>block quote, .block-quote</h3>
<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>
<h3>.global-alert</h3>
<div class="global-alert">The colour should be a mixture of grey and black. The undercoat should be very pale grey or cream (not tawny). The hair of the outer coat is black tipped, the length of the black tips producing the characteristic shading of colour. The colour may vary from light to dark, but any pronounced deviation from the grey colour is not permissible. The plume of the tail should be very light grey when curled on back and the tip of the tail should be black. Legs and feet should be cream. Ears should be very dark - almost black.
</div>
<h3>.tip</h3>
<div class="tip">
Shoulder line markings (light grey) should be well defined. The colour of the ruff and "trousers" is generally lighter than that of the body. "Spectacles" and shadings, as later described, are characteristic of the breed and must be present to some degree. There should be no pronounced white markings.
</div>
<h3>.important</h3>
<div class="important">
According to the American Kennel Club breed standard, the legs and feet are to be cream; feet that are totally black or white are severe faults. Black markings more than halfway down the foreleg, except for pencilling, are faulted.[1]</div>
<h3>.more-information</h3>
<div class="more-information">
The other important marking is the "spectacles," a delicate dark line running from the outer corner of each eye toward the lower corner of each ear, which, coupled with markings forming short eyebrows, is necessary for the distinct expressive look of the breed. All markings should be clear, not muddled or broken. Absence of the spectacles is considered a serious fault. The eyes should be dark brown, almond-shaped with black eye rims.[2]
</div>


*/


