@import "variables";
.twitter-typeahead {
  .tt-menu {
    background-color: white;
    min-width: 100%;
    border: 1px solid $grey-med-light;
    border-top-color: transparent;
  }
  h4 {
    font-weight: bold;
    padding: $pad-small;
    margin: 0;
  }
  .tt-suggestion {
    padding: $pad-small/2 $pad-small;
    margin: 0;

    &.tt-cursor,&:hover {
      @extend %brand-background;
      cursor: pointer;
    }
  }
}