
// for article
main {

  align-self: center;
  max-width: 920px;
  width: 100%;

  .article-meta {
    // cannot use grid as it folds to single column
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: $font-size-smaller;
    color: $brand-main;
    margin-top: 4ch;
    width: 100%;

    .peer-reviewed, .preprint-checks {
      text-transform: uppercase;
      text-align: center;
      flex: 1;
      max-width: 100px;
    }
  }

  article {
    padding: $pad-medium $grid-gutter;
    box-sizing: border-box;
    border: solid 1px $color-border;
    @include breakpoint(sm) {
      border: none;
    }

    @include flex;
    @include flex-items-column;
    @include flex-items-nowrap;

    .article-info-block {
      @include flex;
      @include flex-items-row;
      @include flex-items-nowrap;
      @include flex-items-space-between;
      @include breakpoint(sm) {
        @include flex-items-space-around;
      }

      .date-doi {
        @include breakpoint(sm) {
          text-align: center;
        }
        font-family: $headings-font-family;
        margin-bottom: 4ch;

        .date {
          font-size: $font-size-big;
          color: $brand-main;
        }
        .doi {
          font-size: $font-size-small;
          a {
            text-decoration: none;
            color: $brand-accent;
          }
        }
      }
      .published {
        @include breakpoint(sm) {
          display: none;
        }
      }
      .buttons {
        @include breakpoint(sm) {
          display: none;
        }
        @include flex;
        @include flex-items-row;
        @include flex-items-nowrap;
      }
    }

    .article-content-block {
      max-width: 720px;
      align-self: center;

      .article-title {
        @include breakpoint(sm) {
          text-align: center;
        }
      }

      .article-post-title {
        align-self: center;
        display: inline-block;
        @include breakpoint(sm) {
          width: 100%;
          text-align: center;
        }

      }

      .article-body {
        margin-top: 4ch;

        @include section-component;

        .article-authors {
          @include author-component;
        }

        .supplementary-material {
          @include flex;
          @include flex-items-row;
          @include flex-items-middle;

          margin-top: 24px;

          margin-bottom: 24px;

          a {
            text-decoration: none;
            color: #333;
          }
          .filetype {
            display: inline-block;
            width: 24px; height: 24px;
            margin-right: 16px;
            background-size: 24px 24px;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
