.advanced-search-row {
  margin-top: rem-calc(12px);
  @extend .plos-row;
  .advanced-search-col-first {
    @include plos-grid-column($pixelwidth: columns, $columns: 1, $gutter:none, $collapse: false);
  }

  .advanced-search-col-last {
    @include plos-grid-column($pixelwidth: columns, $columns: 1, $gutter:none, $collapse: false);
  }

  $column-gutter: 30px;
  @for $i from 1 through $total-columns {
    .advanced-search-col-#{$i} {
      @include plos-grid-column($pixelwidth: columns, $columns: $i, $gutter: none, $collapse: false);
    }

    .advanced-search-col-offset-#{$i} {
      @include plos-grid-column($pixelwidth: columns, $offset: $i, $gutter: none, $collapse: false);
    }
  }

  /* Add button */
  &:last-child {
    .add-row-button {
      display: inline-block;
    }
  }

  i {
    &.add-row-button {
      display: none;
    }
    padding-left: rem-calc(5px);
    padding-right: rem-calc(5px);
  }

  /* Hide first AND/OR operator */
  &:first-child {
    .advanced-search-col-first {
      visibility: hidden;
    }
  }

  input[type=text] {
    width: 100%;
  }

  select {
    height: rem-calc(24px);
    font-size: rem-calc($txt-size-mediumish)
  }
}

/* Edit query */
.edit-query {
  float: left;
  padding-top: $pad-xsmall;
}

.advanced-search-buttons-container {
  margin-top: rem-calc(12px);
  @extend .plos-row;
  .search-button {
    @include plos-grid-column($pixelwidth: columns, $columns: 2, $offset: 5, $gutter:none, $collapse: false);
    @extend .button;
    text-align: center;
    cursor: pointer;
    border: none;
  }
}
