//article pages structure
//header
//main -- plos-grid-container is assigned to pagebdy in _scaffold.scss
//.plos-row
//section.article-body -- plos-grid-column is assigned to %width-large in _scaffold.scss
// main part of the contents
//aside.article-column -- plos-grid-column is assigned to %width-xx-small
//right column contents

.article-body {
  @include plos-grid-column(740, $gutter: none);
  margin-right: $pad-default;  /*  temporary to make it look right even if the code is wrong */
}
.article-column {
  @include plos-grid-column(180, $gutter: none);
  float: right; /* temporary */
  margin-left: $pad-default; /* temporary */
}
.classifications {
  @extend %txt-transform-fancy;
  margin-top: $pad-default + $pad-xsmall;
  margin-bottom: $pad-small + $pad-xsmall;
  p {
    font-size: $txt-size-xxxxsmall;
    vertical-align: top;
    display: inline-block;

    .icon {
      padding-right: $pad-xsmall;
      font-size: $txt-size-medium;
      vertical-align: -3px;
    }
  }
  .license-short {
    .icon {
      @extend .icon-unlock;
    }
    padding-right: $pad-small;
  }
  .peer-reviewed {
    .icon {
      @extend .icon-edit;
    }
  }
  .article-type {
    margin-top: $pad-xsmall;
    font-size: $txt-size-xxsmall;
  }
}

.article-body {
  h1 {
    font-size: $txt-size-xxxlarge;
    margin-bottom: $pad-small;
    line-height: normal;

    i, italic {
      font-style: italic;
    }
  }
  .date-doi {
    @include clearfix();
    margin: $pad-notsmall 0; //this will change once we format more of the page
    font-size: $txt-size-default;

    li {
      float: left;
      margin-left: 10px;
      color: #666;

      &:first-child {
        margin: 0 15px 0 0;
        padding: 0;
        list-style-type: none;
      }
    }
  }
}
// TABS

.article-tabs {
  @extend .tabs;
  @extend .inline-list;

  margin-left: 0;
  .tab-title {
    margin-left: 0;
    //the following backgrounds by class can maybe be improved upon using lighten % and sibling selectors.
    // with 5 it was getting pretty complex and lame so I threw in class names.
    a.tab-article {
      background: #2b2b2b;
    }
    a.tab-authors {
      background: #414141;
    }
    a.tab-metrics {
      background: #565656;
    }
    a.tab-comments {
      background: #6c6c6c;
    }
    a.tab-related {
      background: #818181;
    }
    a {
      width: 145px;
      height: 75px;
      padding: 10px;
      border-right: 1px solid #fff;
      font-weight: bold;
      color: $white;
      &:hover {
        background: $plos-default;
        color: $white;
      }

    /*&:first-child {
      background: #818181;
    }*/
    }
    &.active a {
      position: relative;
      @extend %brand-background;
      height: 83px;
      font-weight: bold;
      @extend .icon-tab-active;
      &:before {
        position: absolute;
        bottom: 5px;
        left: 10px;
        font-size: 1.25em;
        font-weight: 100;
      }
      &:hover {
        @extend %brand-background;
        cursor: inherit;
      }
    }
  }
}



/*
#2b2b2b 434343
414141  656565
565656  868686
6c6c6c  108108108
818181 129129129

 */

.stub {
  background: powderblue;
  color: #999;
  height: 700px;
}