// layout the page

.article-body {
  @extend .plos-row;
}

#nav-article {
  @include plos-grid-column(160, $gutter: right, $gutter-width: 45);
  @extend .hide-for-print;
}

.article-content {
  @include plos-grid-column(550, $gutter: none, $float: right);
}

/// TODO - PG- This needs to be in more general css. I'm just to work out the kinks so I can check this styling for the amendment notice into master - that work will be done in ticket DPRO-477 which is being worked on concurrently
//TODO - set up better math for vertical rhythm.

$line-height: rem-calc(18);
$line-height-large: ($line-height * 2);
$line-height-med: ($line-height * 1.5);
$line-height-small: ($line-height * .5);

// callout is for blockquotes.
@mixin callout($clr-body: $clr-callout-bg) {
  padding: $line-height $pad-default 1px $pad-default; //TODO -  why is this 1px - not sure but its the only thing that seems to work
  background: $clr-body;
  margin-bottom: $line-height;
}

// this is the amount we want to offset the target so it doesn't butt up against the top of the window OR the floating header.
.article-content a:target{
  margin-top: -$target-offset;
  padding-top: $target-offset;
  display:inline-block;
}

.article-content {

  p, ul, ol, .section > div {
    margin-bottom: $line-height;
  }

  a {
    @extend %link-text-default;
  }

  p, li {
    margin-bottom: $txt-size-default;
    line-height: $line-height;
  }
  ul.bulleted {
    list-style-type: none;

    li {
      padding-left: $pad-default;
    }
    li:before {
      content: '>';
      font-size: rem-calc(10);
      display: inline-block;
      margin-left: -$pad-smallish;
      position: absolute
    }
    // to do put in variables
  }

  h2, h3, h4, h5 {
    font-family: $font-face-plain;
    margin-bottom: $line-height-small;
    margin-top: $line-height-med;
    line-height: normal;
  }

  h2 {
    font-size: $txt-size-large;
    margin-bottom: $line-height;
    font-weight: bold;
  }

  h3, h4 {
    font-size: $txt-size-medium-large;
    margin-top: $line-height-small
  }

  h3 {
    font-weight: bold;
  }
  h4 {
    font-weight: normal
  }
  .title-small {
    font-size: $txt-size-default;
    font-weight: bold;
  }

  blockquote, .pullquote {
    border-left: $pad-xsmall solid $clr-separator;
    margin: $line-height-med 0 $line-height 0;
  }
  .pullquote{
    @extend blockquote;
    font-style: italic;
  }

  .abstract {
    h2 {
      font-family: $font-face-fancy;
      font-weight: normal;
      font-size: $txt-size-xxlarge;
      margin-bottom: $line-height;
      margin-top: $line-height-small;
    }
  }

  .articleinfo {
    border: 1px solid $clr-separator;
    margin-bottom: $line-height;

    p {
      margin-bottom: 0;
      border-top: 1px solid $clr-separator;
      padding: $line-height-small $pad-default;
      &:first-child {
        border-top: 0 none;
      }

    }
  }

  .callout-standard, .box {
    @include callout();
    h2:first-of-type, h3:first-of-type { margin-top: 0;}  //TODO - abstract a little
  }

  .callout-alert {
    @include callout($clr-warning-bg);
  }


  .amendment {
    margin-bottom: $line-height-med;

    h2 {
      margin-top: 0;

      &:before {
        // for icons
        margin-right: $pad-xsmall;
        vertical-align: baseline;
        line-height: inherit;
      }
    }

    .link-separator::after{
      content: '| ';
      color: $clr-body-text;
      font-weight: normal;
    }
    
    .amendment-link,
    .amendment-date{
      font-weight: bold;
    }
  }

  .amendment-eoc, .amendment-retraction {
    @extend .callout-alert;
    h2 {
      color: $clr-warning;
      margin-top: 0;
      &:before {
        //TODO - make this a mixin? do we adjust line-height on all icons?
        @extend .icon-alert;
        font-size: $txt-size-medium-large;

      }
    }
  }

  .amendment-correction {
    @extend .callout-standard;

    h2 {
      &:before {
        content: '';
        @extend .icon-correction;

      }
    }
  }

  //  SPECIAL HANDLING FOR XML TRANSFORM
  ol.references {
    list-style-type: none;
    padding-left: rem-calc(25);
    span.order {
      margin-left: rem-calc(-26);
      float: left;
      width: 20px;
      text-align: right;
      font-weight: bold;
    }
  }

  span.gene {
    word-break: break-all;
  }
  span.inline-formula {
    display: inline-block;
    vertical-align: middle; //NOTE: I like this but set it to "text-top" is another option.

  }
  span.equation {
    display: block;
    text-align: center;
    font-size: $txt-size-medium;
    margin: $line-height 0;
    .note {
      color: $clr-body-text;
      font-size: $txt-size-xxsmall;
      display: block;
      text-align: right;
      font-weight: bold;
    }

  }
  span.underline{ text-decoration: underline;}

  // supplementary materials - need to have no margin between paragraphs just below the box
  .supplementary-material{
    margin-bottom: $line-height;
    p {margin-bottom: 0;}

  }
  .figshare_widget{
    @extend .hide-for-print;
    .fw-download-trigger-one-file:hover, .fw-download-trigger:hover{
      color: $white;   //sadly have to force this to overide styles. Yeah, it HS ot be this specific.
    }
  }
}

// fig share widget needs content-box sizing to space everything properly.
#figshare_enlarge * {
  box-sizing: content-box;
  @extend .hide-for-print;
}

// TODO - write some docs
@mixin border-width-adjust($border-width: rem-calc(2), $spacing: $pad-small, $border-color: $clr-highlight) {
  border-left: $border-width solid $border-color;
  padding-left: ($spacing - $border-width);
}

@mixin nav-side($txt-color: $grey-med, $pad-left: $pad-small, $pad-y: rem-calc(2), $margin-bottom: $pad-xsmall) {
  @extend .no-bullet;
  margin-bottom: ($margin-bottom * 2);
  padding-bottom: ($margin-bottom * 2);

  li {
    padding: $pad-y 0;
    padding-left: $pad-left;
    margin: 0 0 $margin-bottom 0;

    a {
      @include link-text($color: $txt-color);
    }
  }
}

@mixin nav-enhanced($txt-color-hover: $clr-body-text, $spacing-left: $pad-small, $txt-color: $grey-med) {
  @include nav-side;
  li {

    &:hover {
      @include border-width-adjust($border-width: rem-calc(1), $spacing: $spacing-left);

      a {
        color: $txt-color;
      }
    }

    &.active {
      @include border-width-adjust($spacing: $spacing-left);

      a {
        color: $txt-color-hover;
        font-weight: bold;
        letter-spacing: -.5px;
      }
    }
  }

}

#nav-article {
  position: relative;

  .nav-page {
    @include nav-enhanced();
    border-bottom: 1px solid $grey-med;
    li {
      &.amendment-correction {
        font-weight: bold;
      }
      &.amendment-eoc a {
        font-weight: bold;
        color: $clr-warning
      }
      &.amendment-retraction a {
        font-weight: bold;
        color: $clr-warning
      }
    }
  }

  .nav-secondary {
    @extend .no-bullet;
    @include nav-side($txt-color: $clr-body-text);
  }
}

// specificity is needed to override ul & div styles
.article-content .figure {
  div {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    li {
      margin: 0;
      &:before {
        content: "";
      }
    }
  }
}

#figure-carousel-section {
  /*
   * This section begins in an arbitrary position on the page, then is inserted into the article body by JavaScript.
   * Don't display it until JavaScript shows it after moving it.
   */
  @extend .hide;
}

#figure-carousel {
  // creating local variables to make editing and bug fixing easier
  $fc-colorbg-container: $grey-light;
  $fc-colorbg-item: $white;
  $fc-pad-item-between: $pad-small;
  $fc-pad-container-vertical: $line-height;
  $fc-pager-size: $txt-size-xxxsmall;
  $fc-pad-item-inside: rem-calc(4);
  $fc-size-item-width: rem-calc(164);
  $fc-size-item-height: rem-calc(112);
  $fc-button-pad: $fc-pad-item-inside;

  background: $fc-colorbg-container;
  position: relative;
  margin-bottom: $line-height-large;
  padding: $fc-pad-container-vertical 0;
  text-align: center;
  width: 100%;
  &:hover .carousel-control .button,
 .carousel-control.controls-show  button{
    display: block;
  }
  .carousel-wrapper {
    margin: 0 auto $fc-pad-item-between;
    overflow: hidden; // carousel-wrapper is the scrolling view window for everything in slider
    width: (($fc-size-item-width * 3) + ($fc-pad-item-between * 2));

    .slider {
      width: 99999px; // contain all figures in a big horizontal row
    }
  }

  .carousel-item {
    float: left;
    border-right:$fc-pad-item-between solid $fc-colorbg-container;
    width: ($fc-size-item-width + $fc-pad-item-between);
    height: $fc-size-item-height;
    background-color: $fc-colorbg-item;
    cursor: pointer;

    img {
      height: auto;
      width: auto;
      max-width: ($fc-size-item-width - ($fc-pad-item-inside * 2));
      max-height: ($fc-size-item-height - ($fc-pad-item-inside * 2));
      display: block;
      margin: $fc-pad-item-inside auto;
    }

    &.empty{
      background-color: $fc-colorbg-container;
    }
  }

  .carousel-control{
    .button{
      @extend .fa;
      top: 50px;
      right:$fc-button-pad;
      display: none;
      position: absolute;
      background-color: $clr-body-text;
      line-height: rem-calc(50);
      height: rem-calc(50);
      width: rem-calc(23);
      font-size: $txt-size-large;
      padding: 0;
      text-align: center;
      cursor: pointer;
      color: $white; //TODO- use buttons
      &.previous{ @extend .fa-caret-left; }
      &.next{ @extend .fa-caret-right;}
      &:hover{
        background-color: $plos-default;
      }
      &:first-child{
        left:$fc-button-pad;
      }
    }
  }

  .carousel-page-buttons {
    text-align: center;
    line-height: $fc-pager-size;
    .index {
      @extend .fa;
      @extend .fa-circle;
      font-size: $fc-pager-size;
      margin: 0 ($fc-pager-size/2);
      display: inline-block;
      color: $grey-med;

      &.active, &:hover {
        color: $plos-default;
      }
      &:hover{
        cursor: hand
      }
    }
  }
}

.article-content .figure {
  font-family: $font-face-plain;
  background: $grey-light;
  padding: $line-height $pad-default $pad-smallish;

  .img-box {
    display: table-cell;
    background: #fff;
    padding: $pad-small;
    width: rem-calc(320);
    min-height: 120px;
    position: relative;

    .expand {
      @extend .icon-expand;
      position: absolute;
      top: -8px;
      right: -8px;

      &:hover {
        background-position: 0 -25px;
      }
    }
  }

  .figcaption {
    margin-top: $pad-small;
    margin-bottom: 0;
    line-height: $line-height;
    font-weight: bold;
    font-size: $txt-size-small;
  }
    p {
      margin: 0;
    }
  }


.article-content .figure-inline-download {
 @extend .hide-for-print;
  display: table-cell;
  font-size: $txt-size-xsmall;
  vertical-align: top;
  padding-top: $pad-medium;
  padding-left: $pad-xsmall;
  width: rem-calc(190);

  ul {

    margin: $pad-xsmall 0 0 $pad-xsmall;
    padding-left: 0;

    li {
      &:before {
        content: "";
      }
      @include clearfix;
      padding: rem-calc(8) 0 0;
      width: rem-calc(165);
      list-style-type: none;

      .definition-label {
        @extend .action-label;

        a {
          width: $pad-medium;
          text-align: center;
          color: $white;
          font-size: $txt-size-xxxxsmall;
          line-height: $txt-size-large;
          &:hover {
            text-decoration: none;
          }
        }
      }

      a {
        display: inline-block;
        float: left;
        @extend %link-text-default;
        font-size: $txt-size-xsmall;
      }
    }
  }
}

.table-wrap {
  margin-top: $pad-medium;
  position: relative;
  font-family: $font-face-plain;  //for table expand link

  div, p {
    margin: 0 0 8px;
  }

  table {
    margin: 0;
    width: 100%;
    font-size: 12px;
    line-height: 1.333;
    border-collapse: collapse;
    border-spacing: 0;

    td {
      padding: rem-calc(2);
      color: #666;
      border: 1px solid $grey-med-light;
    }

    th {
      border: 1px solid $grey-med-light;
      padding: 8px $line-height;
      background: #efefef;
      text-align: left;
    }

    thead tr:first-child {
      background-color: $table-header-bg;
      font-weight: bold;
    }

    thead tr:first-child td {
      color: $white;
    }

    tbody tr td:first-child {
      font-weight: bold;
    }

    tbody tr:nth-child(odd) {
      background-color: $white;
    }

    tbody tr:nth-child(even) {
      background-color: $grey-light;
    }
  }

  .table {
    max-height: 550px;
    overflow: auto;
    border: solid 1px $grey-light;
  }

  .table-caption {
    line-height: $line-height;
    font-weight: bold;
    font-size: $txt-size-small;
  }

  .table-footnote {
    margin-bottom: 0;
    font-size: $pad-small;
    line-height: rem-calc(14);

    .fn-label {
      vertical-align: super;
      font-size: $txt-size-xxxsmall;
    }
  }

  .expand {
    @extend .hide-for-print;
    @extend .icon-expand;
    position: absolute;
    top: -$pad-medium;
    right: 0;
  }
}

.article-content .table-download {
  @extend .hide-for-print;
  display: block;
  vertical-align: middle;
  cursor: pointer;
  width: 125px;

  .definition-label {
    @extend .action-label;
    width: $pad-medium;
    text-align: center;
    color: $white;
    font-size: $txt-size-xxxxsmall;
    line-height: $line-height;
  }

  span {
    @extend %link-text-default;
    font-size: $txt-size-small;

  }
}

.article-content .reflinks, #fig-viewer-refs .reflinks {
  @include clearfix;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  height: rem-calc(25);
  line-height: $line-height;

  li {
    float: left;
    margin: 0 rem-calc(4) $pad-small $pad-default;
    padding: 0;
    list-style-type: disc;
    line-height: $line-height;

  }
  li:first-child {
    list-style-type: none;
    margin-left: 0;
  }
}

@media print {
  .article-content {
    width: 100%;
  }
}
