/*
 *    This is for Error pages
 */

.static {
  main{ margin-top: rem-calc(30); margin-bottom: rem-calc(70); }
  h1{margin-bottom: rem-calc(30)

  }
  background-color: $white;
}
.error-page {
  @extend .plos-row;
  .image {
    @extend .plos-column-4;
  }
  .content {
    @extend .plos-column-6;
    p {
      font-size: $txt-size-large;
      line-height: $line-height-large-text;
    }
  }

}