/*
 *    Home page blocks
 */

$block-height: rem-calc(250);
$block-height-small: rem-calc(180);

$image-width: rem-calc(70);
$hero-height: rem-calc(380);
$image-container: ($image-width + $pad-small);
// this mixin extends the foundation grid to do two things it can't do
//1. add margins on the outside if needed
//2. use pixel widths - cause that's how digital pulp rolls.
// questions:
// do we name this "plos-grid" - the handy thing is that we can extend it.
// I am using foundation settings values is this confusing? - i did it cause of rem-calc.




///TODOPG: these are all the widths
.width-full{
  @include plos-grid-column($pixelwidth: full-width);
}
.width-xx-small {
  @include plos-grid-column(182);
}

.width-x-small {
  @include plos-grid-column(267);
}
.width-small {
  @include plos-grid-column(306);
}
.width-medium {
  @include plos-grid-column(469);
}
.width-large {
  @include plos-grid-column(633);
}

.row {
  @include plos-grid-row();
}

.carousel-wrap.small{
  @extend .width-small;
}
//home page blocks

.hero
.overlay-light {

}

.hero {
  @extend .width-full;
  @include blocks($shadow: none);

  position: relative;
  padding: 0;
  background: transparent;
  // overlay colors
  &.overlay-dark > a:before {
    @extend .overlay;
    @include filter-gradient(#00ffff, #a80000, vertical); // IE6-8
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(250, 250, 250, 0) 46%, rgba(231, 231, 231, 0.06) 50%, rgba(203, 203, 203, 0.17) 56%, rgba(134, 134, 134, 0.54) 71%, rgba(102, 102, 102, 0.65) 78%, rgba(0, 0, 0, 0.66) 100%));
  }
  &.overlay-light > a:before {
    @extend .overlay;
    @include filter-gradient(#00ffff, #a8ffff, vertical); // IE6-8
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.06) 50%, rgba(255, 255, 255, 0.17) 56%, rgba(255, 255, 255, 0.54) 71%, rgba(255, 255, 255, 0.65) 78%, rgba(255, 255, 255, 0.66) 100%));
  }
  img {
    @include border-top-radius();
    width: 100%;
  }
  // hero colors: default is white text
  color: $white;
  a {
    color: $white;
  }
  &.dark-text,
  &.dark-text a {
    color: $clr-body-text;
  }

  // hero text
  .hero-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: $pad-small;
    font-size: rem-calc($txt-size-medium-large);
    h4 {
      @extend h1;
      @extend .no-margin;
    }
    p {
      @extend .no-margin;
    }
  }
}


#billboard {
  @include blocks($grey-dark);
  @extend .width-full;
  h3, h4, a {
    color: $white !important;
  }
  position: relative;
  a {
    @include rounded-pill();
    position: absolute;
    width: auto;
    height: 36px;
    right: 20px;
    top: 10px;
  }
}

//sizes:
.row > .block
{ // to do this needs to get fixed in the grid refactor  it really does

  &.xx-small {
    @include plos-grid-column(180);
  }

  &.x-small {
    @include plos-grid-column(267);
  }
  &.small {
    @extend .width-small;
  }
  &.medium {
    @include plos-grid-column(469);
  }
  &.large {
    @include plos-grid-column(633);
  }


}

.block {
  position: relative;
  height: $block-height;

  @include blocks;

  .block-image {
    width: $image-container;
    display: block;
    position: absolute;
    left: $pad-small;
    top: $pad-small;
  }
  &.image .block-content {
    margin-left: ($image-container + $pad-default);
  }
  // components
  .date {
    @extend .small-italic;
  }
  .credits {
    @extend .small-italic;
    position: absolute;
    bottom: $pad-small;
    left: ($image-container + $pad-default);
    margin: 0;

  }
  .category {
    @extend .highlighted-title;
  }
  .title {
    @extend h2;
    a {
      color: $clr-body-text;
      &:hover {
        text-decoration: underline;
      }
    }

  }
  .blurb {
    //TODO: remove when you neaten up font sizes.
  }

  .block-content {
    position: relative;
    font-size: rem-calc($txt-size-default);
  }

  &.small {
    .title {
      @extend h4;
      @extend .subheader;
      font-family: $font-face-fancy;
    }
  }

}

.column {
  &.left {
    @include plos-grid-column(653, none);  //width + gutter
    .block.large{
      @extend .width-large;
    }

    .row-small-blocks {
      width: 100%;
      // for demo
      .block {
        @extend .width-small;
      }

    }
    /// row three is shorter than the others
    .block {
      height: $block-height-small;

      .block-image {
        height: ($block-height-small - ($pad-default));
        overflow: hidden;
      }

      &.small {
        @extend .width-small;
      }
    }
  }

  &.right {
    @include plos-grid-column(326, none);   //width + gutter
  }
}


#blogs {
  @include blocks();
  @extend .width-small;
  height: $block-height;
}

#billboard {
  @include grid-row;
  @include blocks($grey-dark);
  h3, h4, a {
    color: $white !important;
  }
  position: relative;
  a {
    @include rounded-pill();
    position: absolute;
    width: 80px;
    height: 36px;
    right: $pad-default;
    top: $pad-small;
  }
}

#article-list {
  height: $block-height;
  @include blocks;
  @extend .width-x-small;
  position: relative;

  h3 {
    @extend .highlighted-title;
  }

  ul.list-plain {
    @extend .no-bullet; // from foundation
    line-height: normal;

    li {
      color: $clr-body-text;
      margin-bottom: 15px;

      a {
        @include link-text();
        display: block;
        font-family: $font-face-fancy;
        font-size: $txt-size-xsmall;
      }
    }
  }
  .more-link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: auto;
    > a {
      @include link-text();
      @extend .header-allcaps-plain;
    }
    &:after {
      @extend .more-icon;
    }
  }

  .truncated-tooltip {
    @extend .has-tip; //foundation
  }
}
//Tooltips are added to the bottom of the page & hidden. This class should not be nested.
.tooltip {
  width: 300px !important;
  @include single-box-shadow();
  border: 1px solid $grey-med-light;
}

#issue {

  @include blocks;
  @include plos-grid-column(180);
  .current-img {
    width: rem-calc(160);
  }
  .boxtitle {
    margin-top: rem-calc(5);
    a {
      @include link-text();
    //  @extend .header-allcaps-xxlarge;
      @extend .condense;
      display: block;
      margin-bottom: rem-calc(-5);
      font-weight: 900;
    }
    .subhead {
      font-face: $font-face-plain;
      font-size: $txt-size-medium-large;
    }
  }
}
#twitter {
  @extend .width-small;

}

.linkbox {
  @extend .block-card;
  @extend .width-small;
  height: rem-calc(410); // PG-we have to set this height to be standard so that we know how tall to make the twitter feed.
  ul {
    @extend .no-bullet; // from foundation
    li {
      padding: $pad-default $pad-medium;
      border-top: 1px solid $grey-light;
      @extend .link-text-body;
      a {
        font-family: $font-face-fancy;
        font-size: rem-calc($txt-size-medium-large);

      }
    }
  }
}
#submission-links {
  @include blocks($color: $grey-dark);
  @extend .width-small;

  padding: $pad-small $pad-medium;

  h3 {
    @extend .header-bottom-shadow;
    @extend .header-xlarge-light;
  }
  .split-container {
    @extend .inline-list;
    margin-left: 0;
  }
  .split-item {
    margin: 0 !important;
    width: 50%;
    height: 40px;
    text-align: center;
    &:first-child {
      border-right: 1px solid $grey-med;
    }
    a {
      @include link-text($color: #89a0d0, $decoration: underline);
      font-size: $txt-size-medium-large;
      font-family: $font-face-fancy;
    }
  }
}

#social-links {
  @extend .width-small;
  @include blocks($color: #04417d);
  border-radius: $border-radius-default;
  padding: $pad-xsmall;

  h3 {
    @extend .header-xlarge-light;
    text-indent: rem-calc(10);
    margin-bottom: 10px;
  }
  ul {
    @extend .inline-list;
    margin-bottom: 0;
    margin-left: rem-calc(-4);
    > li {
      margin-left: 4px;
      margin-bottom: 0;
      > a {
        background: $plos-default;
        border-radius: $border-radius-default;
        display: inline-block;
        height: ($txt-size-xxlarge * 2);
        text-align: center;
        color: $clr-light-text;
        &:hover {
          background: $grey-dark;
        }
      }
      .social {
        width: ($txt-size-xxlarge * 2);
      }
      .aria-text {   // TODO?: make this easier to extend?
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }
    .social-blogs {
      width: 102px;
      line-height: ($txt-size-xxlarge * 2);
      font-size: rem-calc($txt-size-medium-large);
      font-family: $font-face-fancy;
    }
  }


}

#ad-slot-bottom{
  @include grid-row;
    .ad-item{
      @extend .width-small;
      iframe{  @extend .block;}

    }
}
