h2 {
  border-bottom: none;
}

.metrics-body {
  float: left;
  width: 47.1875rem;
  padding-bottom: 70px;
  font: 81.25%/1.385 arial, sans-serif;
  color: $grey-dark;

   table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    line-height: 1.333;
    margin: 20px 0;
     td{
       box-sizing: content-box;
     }
  }
}

/*ALM cumulative graph rollover*/
#mini {
  background-color: $grey-light;
  width: 200px;
  font-size: 9px;
  color: #332;
  margin: 0px;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px #888;
}

#mini th,
#mini td {
  text-align: left;
  vertical-align: bottom;
  background-color: transparent;
  border: 1px solid $grey-med;
  font-weight: normal;
  padding: 1px 4px;
  padding-bottom: 3px;
}

#mini .header1 {
  color: $white;
  background-color: $clr-highlight;
}

#mini .header2 {
  color: $white;
  background-color: #6d84bf;
}

#mini .data1 {
  color: $white;
  font-weight: $bold;
  background-color: $clr-highlight;
}

#mini .data2 {
  color: $white;
  font-weight: $bold;
  background-color: #6d84bf;
}

#mini tbody {
  margin: 3px 0;
}

#mini tfoot td {
  border-top: 1px solid $grey-med;
  border-bottom: 0;
}


/*Table mini in tooltip*/
.tileTooltipContainer {@include js-tooltip-container();}
.tileTooltip{@include js-tooltip-target();}

.tileTooltip {
  border: 1px solid $grey-med;
  background: $off-white;
  box-shadow: 5px 5px 5px #888;
  padding: 0;
  top: -100px;
  right: -3px;
}


.tile_mini {
  margin: 0;
  font-size: .8em;
  float: left;
  border-collapse: collapse;
}

.tile_mini th,
.tile_mini td {
  text-align: left;
  vertical-align: bottom;
  background: #efefef;
  border: 1px solid $grey-med;
  font-weight: normal;
  padding: 1px 5px;
  padding-bottom: 1px;
}

.tile_mini .header1 {
  text-align: center;
  color: $white;
  background-color: $clr-highlight;
}

.tile_mini .header2 {
  text-align: center;
  color: $white;
  background-color: #6d84bf;
}

.tile_mini .data1 {
  color: $white;
  font-weight: $bold;
  background-color: $clr-highlight;
}

.tile_mini .data2 {
  color: $white;
  font-weight: $bold;
  background-color: #6d84bf;
}

#tooltip {
  position: absolute;
  z-index: 3000;
  border: 0;
  padding: 5px;
}

#tooltip h3, #tooltip div {
  margin: 0;
}


.highcharts-container {
  overflow: visible !important;
}

/* pageViewsSummary table */
#pageViewsSummary {
  width: 600px;
  display: table;
  border: 1px solid $grey-med;
  background-color: $off-white;
  padding: 0;
}

#pageViewsSummary #left {
  float: left;
  padding: 8px;
  border: 0;
}

#pageViewsSummary #right {
  float: right;
  padding: 0;
  border: 0;
}

#pageViewsSummary .header {
  font-size: 14px;
  color: $grey-dark;
}

#pageViewsSummary .totalCount {
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: $bold;
  color: $grey-dark;
}

#pageViewsSummary .pubDates {
  font-size: 9px;
  font-weight: $bold;
  color: $grey-med-dark;
  line-height: 11px;
}

#pageViewsTable {
  border-width: 1px 1px 0 0;
  border-spacing: 0;
  padding: 0;
  margin: 0;
}

#pageViewsTable th,
#pageViewsTable td {
  border-width: 0 0 1px 1px;
  border-color: $off-white;
  border-style: solid;
  padding: 3px 8px 2px 8px;
  vertical-align: middle;
  height: 17px;
  font-size: 11px;
  font-weight: $bold;
}

#pageViewsTable th {
  background-color: $off-white;
  color: $grey-med-dark;
}

#pageViewsTable td {
  background-color: white;
  color: $grey-med;
}

#pageViewsTable .source1 {
  background-color: $clr-highlight;
  font-weight: $bold;
  color: $white;
}

#pageViewsTable .source2 {
  background-color: #6d84bf;
  font-weight: $bold;
  color: $white;
}

#pageViewsTable .total {
  font-weight: $bold;
  color: $black;
}

#pageViewsTable tr.percent td {
  color: $black;
}

/* styling for average usage stat information */
#averageViewsSummary {
  width: 600px;
  border: 1px solid $grey-light;
  background-color: $off-white;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

#averageViewsSummary div {
  padding: 8px 8px 0px 8px;
}

#averageViewsSummary .colorbox {
  border: 1px solid $grey-light;
  background-color: #01DF01;
  width: 9px;
  height: 9px;
  display: block;
  float: left;
  margin-top: 4px;
}

#averageViewsSummary .ir {
  float: right;
  border-radius: 8.5px;
  -webkit-border-radius: 8.5px;
  -moz-border-radius: 8.5px;
}

#averageViewsSummary select {
  width: inherit;
  background-color: $white;
  border-radius: 4px;
}

#averageViewsSummary select option {
  background-color: $white;
}

#beta {
  font: italic 600 10px Arial;
  color: #00be00;
}

/* END styling for average usage stat information */

.ir {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}

.ir a {
  display: block;
  background-repeat: no-repeat;
  background-color: transparent;
}

.ir br {
  display: none;
}

a.ir {
  display: inline-block;
  text-indent: -9999px;
  background-image: image-url('button_info.png');
  width: 17px;
  height: 17px;
}

a.irs {
  display: inline-block;
  text-indent: -9999px;
  background-image: image-url('button_info_small.png');
  width: 13px;
  height: 13px;
  vertical-align: middle;
}

#usage #chart {
  width: 600px;
  height: 200px;
}

#usage p {
  font-size: 71.25%
}

.topstroke {
  padding: 20px 0 0 0;
  margin-top: 40px;
  border-top: 1px solid #D1D1D1;
}

/************* Figshare metrics dropdown *****************/

.metric-dropdown {
  @include dropdown-container();
  width: inherit;
  background-color: #efefef;
  .close-button {
    span {
      float: left;
      margin: .1em 16px .1em 0;
    }
    a.button-container {
      float: right;
      text-align: center;
      background-color: #16A127;
      color: $white;
      width: 19px;
      display: inline-block;
      margin: 2px 2px 0 0;
      border-radius: 2px;
    }
  }
}

/************* Article Metrics page: Metrics Tiles and Rating Tile *****************/

#article-metrics {
  width: 600px;
  margin-left: 10px;
  padding-top: $line-height-large;
}

.metrics_tile {
  vertical-align: text-top;
  display: inline-block;
  border: 1px solid $grey-light;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: $off-white;
  *zoom: 1; /*  Workaround for IE */
  *display: inline; /*  Workaround for IE */
}

.metrics_tile:hover {
  border: 1px solid $grey-med;
  background-color: #C8DFED;
}

img.metrics_tile_image {
  border-bottom: 1px solid $grey-light;
}

.metrics_tile:hover .metrics_tile_image {
  border-bottom: 1px solid $grey-med;
}

.metrics_tile_footer {
  line-height: 2.4em;
  text-align: center;
  display: block;
}

.metrics_tile_footer a {
  @extend %brand-color;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: $bold;

  .plosone & {
    color: $plos-one-purple;
  }
}

.metrics_tile_no_link {
  vertical-align: text-top;
  display: inline-block;
  border: 1px solid $grey-light;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: $off-white;
  *zoom: 1; /*  Workaround for IE */
  *display: inline; /*  Workaround for IE */
}

.metrics_tile_footer_no_link {
  line-height: $line-height-large;
  text-align: center;
  color: $grey-med;
  font-size: 1.30em;
  text-decoration: none;
  font-weight: $bold;
}

.metrics_tile:hover .metrics_tile_rating_footer {
  border-top: 1px solid $grey-med;
}

#article-metrics #views {
  margin-top: 40px;
}
#figshareOnArticleMetricsTab .tile_mini {
  width: 100%;
}
