
/* STATIC/PUBLISH */
.static-publish main {
  @extend .width-full;
  margin: 0;
}

#publish_main_content {
  width: 100%;
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-face-fancy;
    font-weight: normal;
  }
}

#publish_banner_band {
  width: 830px;
  display: block;
  margin: 0 auto $line-height-large;
  background-color: $white;
  height: rem-calc(800px);
  overflow: hidden;
  background: image-url('ONEimage.png');
  background-size: cover;
  background-position: -30%;
}

.submit_manuscript {
  display: none; // hiding for now, as there are already 2 other submit buttons on the page
}

.submit_manuscript:hover {
  text-decoration: none;
  background-color: $white;
}

#publish_banner_content {
  h1,
  h4 {
    color: $plos-one-purple;
    font-weight: 600;
  }

  h4 {
    font-size: $txt-size-medium-large;
    line-height: $line-height-medium;
  }
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: rem-calc(380px);
  margin-top: rem-calc(360px);
  padding-left: rem-calc(-100px);
}

#publish_banner_content h1 {
  font-size: $txt-size-xxxlarge;
  line-height: $line-height-large;
}

#choose_plosone {
  font-family: $font-face-fancy;
    width: rem-calc(830px);
  margin: 0 auto;
  display: block;
  min-height: 900px;
  padding-bottom: 50px;
}

#choose_plosone h2 {
  font-size: $txt-size-xxlarge;
  line-height: $line-height-large;
  text-align: center;
  margin-bottom: $line-height-large;
  color: $plos-one-teal;
}

#choose_plosone .center {
  text-align: center;
}

#choose_plosone .button, #orange_wrapper .button {
  color: #fff;
  min-width: 200px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding: 0;
}
#choose_plosone .button {
  background-color: $plos-one-pink;
}
#orange_wrapper .button {
  background-color: $plos-one-purple;
}

.rows_columns {
  display: flex; flex-flow: row wrap;
  justify-content: center;
  margin-top: 40px; margin-bottom: 40px;
}
.rows_columns > div {
  width: 33%;
}

.pull_right {
  float: right;
}

.icon_item {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 0 $line-height-large;
}

.icon_item img {
  width: auto;
  height: 50px;
}

.icon_item a {
  font-size: $txt-size-mediumish;
  font-weight: $bold;
  font-family: $font-face-fancy;
  text-decoration: underline;
  color: $plos-one-purple;
}

.icon_item p {
  font-size: $txt-size-medium;
  line-height: $line-height;
  text-align: center;
}

.icon_item p em {
  letter-spacing: 1.2px;
}

.icon_item h3 {
  margin-top: $line-height-small;

}

.icon_item h3 a {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $plos-one-pink;
}

#orange_content_wrapper {
  width: 830px;
  margin: 0 auto;
}

#orange_content_container {
  margin: 0 auto;
  color: $white;
  text-align: center;
  padding-top: $line-height-medium;
  font-family: $font-face-fancy;
}

#orange_content_container h2 {
  font-size: $txt-size-xxlarge;
  line-height: $line-height-large;
  a {
  color: $white;
  }
}

#orange_content_container p a {
  color: $white;
  text-decoration: underline;
  &:hover {
    color: $plos-one;
  }
}

.submit_manuscript:hover {
  color: $white;
  background-color: $plos-one-purple;
}

#publish_banner {
  display: block;
  margin: 0 auto;
  margin-top: -29px;
  z-index: 100;
}

#publish_banner p {
  color: $grey-dark;
  display: inline;
  margin: 0 auto;
  float: right;
}

#top_wrapper {
  display: block;
  margin: 0 auto;
  padding-right: 20px;
  width: 960px;
}

#top_wrapper h1 {
  font-family: $font-face-fancy;
  font-size: 46px;
  padding-top: 45px;
  text-align: center;
}

#top_wrapper h2 {
  font-size: 28px;
  color: $grey-dark;
  padding-bottom: 34px;
  text-align: center;
}

h2.white {
  text-align: center;
  font-size: 26px;
  color: white;
  margin: 0 auto;
  max-width: 760px;
  padding-left: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 35px;
}

h3.white {
  text-align: center;
  font-size: 16px;
  color: white;
  padding-bottom: 35px;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
}

.white-footer {
  float: left;
  margin-right: 15px;
  width: 600px;
  max-height: 100px;
}

.rightalign {
  float: right;
  padding-top: 20px;
  padding-left: 40px;
}

#black_wrapper {
  width: 100% !important;
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: $black;
  min-height: 300px;
}

.black_icons {
  display: block;
  margin: 0 auto;
  width: 960px !important;
  height: 190px !important;
  padding-left: 200px;
  padding-top: 25px;
}

.black_icons div {
  display: inline;
  float: left;
  padding-right: 95px;
  text-align: center;
}

.black_icons div a {
  color: $white;
  text-decoration: none;
}

.black_icons p {
  font-size: 18px;
  color: $white;
  padding-top: 12px;
  padding-bottom: 50px;
  text-align: center;
}

#icon_content {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

.icon_left {
  float: left;
  display: inline;
  width: 155px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.icon_left1 {
  padding-bottom: 50px;
  padding-top: 60px;
  top: 500px;
}

.icon_left2 {
  padding-top: 70px;
}

.icon_left3 {
  padding-top: 140px;
}

.icon_left4 {
  padding-top: 110px;
}

.publishbody {
  width: 700px;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 40px;
  margin: 0 auto;
  display: block;
  vertical-align: middle;
  position: relative;
}

.publishbody h2 {
  padding-bottom: 10px;
  font-family: $font-face-fancy;
  font-size: 36px;
  text-align: center;
}

.publishbody h3 {
  font-size: 21px;
  text-align: left;
}

#orange_wrapper {
  background-color: $plos-one-teal;
  min-height: 120px;
  min-width: 100% !important;
  position: relative;
}

.keyfacts h3 {
  max-width: 630px;
  margin: 0 auto;
}

h2.keyfacts {
  font-family: $font-face-fancy;
  font-size: 36px;
  color: $grey-dark;
  text-align: center;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

h3.keyfacts {
  font-size: 21px;
  color: $grey-dark;
  padding-left: 25px;
  margin-bottom: 0px;
}

#publishbottom {
  display: block;
  max-height: 200px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  height: 160px;
  margin-bottom: -50px;
}

#social_icons {
  display: block;
  width: 100%;
  background: #282425;
  min-height: 125px;
  margin: 0 auto;
}

#social_icons h3 {
  text-align: center;
  color: white;
  font-family: $font-face-fancy;
  padding-top: 15px;
}



#social_icons_wrapper {
  width: 40%;
  margin: 0 auto;
  text-align: center;

  .social {
    display: inline;
    margin-left: 2rem;
  }
}

#social_icon_facebook {
  width: 12px;
  height: auto;
}

#social_icon_twitter {
  width: 25px;
  height: auto;
}



#blogs_link {
  width: 10rem;
  font-family: $font-face-fancy;
  font-size: $txt-size-xsmall;
  color: $white;
  text-transform: uppercase;
}

#blogs_link:hover {
  color: $plos-one;
}

#publishbottom img {
  margin: 0 auto;
  padding-left: 15px;
  display: block;
}

#sticky-footer {
  display: block;
  max-height: rem-calc(90px);
  h3 {
    font-size: $txt-size-default;
    line-height: $line-height;
  }

  #submit {
    @extend .button;
    background-color: $plos-one;
    font-size: $txt-size-default;
    color: $grey-dark;
    padding: rem-calc(10px);
    display: inline-block;
    &:hover {
      background-color: $plos-default;
      color: $white;
    }
  }
}
