/* STATIC/PUBLISH */
#publish_main_content {
  width: 100%;
}

#publish_main_content #publish_banner_band {
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: black;
  height: 500px;
  overflow: hidden;
  background: url('../img/ONEimage.png');
  background-size: 150% auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

#publish_main_content .submit_manuscript {
  background: #d7df23;
  color: #333;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  padding: 0 10px;
  line-height: 44px;
  display: inline-block;
}

#publish_main_content .submit_manuscript {
  display: none;
}

#publish_main_content #publish_banner #publish_banner_content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

#publish_main_content #publish_banner #publish_banner_content h1 {
  font-size: 24px;
  line-height: 36px;
  color: #3e0577;
  font-weight: 600;
}

#publish_main_content #publish_banner #publish_banner_content h4 {
  font-size: 16px;
  line-height: 24px;
  margin: 12px 10px;
  font-weight: 400;
}

#choose_plosone h2 {
  font-size: 20px;
  text-align: center;
  margin: 2rem 3rem;
  color: #3daca0;
}

#choose_plosone {
  margin: 0 auto;
  display: block;
  min-height: 900px;
  padding: 1%;
  padding-bottom: 50px;
  background-color: white;
}


#choose_plosone .half_column, #choose_plosone .full_column {
  width: 100%;
  text-align: center;
  margin: 3rem auto;
}

#choose_plosone div.icon_item {
  display: inline-block;
  margin: 20px 16%;
  text-align: center;
}

#choose_plosone div.icon_item img {
  width: 44px;
  height: auto;
  display: inline-block;
}

#choose_plosone div.icon_item > a:last-child {
  color: #3e0577;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding-top:  3rem;
  text-decoration: none;
  border-bottom: 1px solid #3e0577;
}

#choose_plosone div.icon_item p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

#choose_plosone div.icon_item h3 {
  margin: 0 0 12px;
}

#choose_plosone div.icon_item h3 a {
  font-weight: 700;
  font-size: 20px;
  color: #cc00a6;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  line-height: 20px;
}

#choose_plosone .center {
  text-align: center;
}

#choose_plosone .button {
  background-color: #cc00a6;
}
#orange_wrapper .button {
  background-color: #3e0577;
}
#choose_plosone .button, #orange_wrapper .button {
  color: #fff;
  min-width: 200px;
  height: 44px;
  line-height: 44px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  text-transform: uppercase;
}

#orange_content_wrapper {
  margin: 0 auto;
  padding: 1%;
}

#orange_content_container {
  margin: 0 auto;
  color: white;
  text-align: center;
  padding:4rem 0;
}

#orange_content_container h2 {
  margin-top:24px;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 400;
}

#orange_content_container p {
 font-size: 18px;
 line-height: 24px;
 margin-left: 35px; margin-right: 35px;

}

#orange_content_container a {
  color: white;
}

#publish_main_content #publish_banner {
  display: block;
  margin: 0 auto;
  margin-top: -29px;
  margin-left: 15%; margin-right: 15%;
  z-index: 100;
}

#publish_main_content #publish_banner p {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  display: inline;
  margin: 0 auto;
  float: right;
}

#publish_main_content #top_wrapper {
  display: block;
  margin: 0 auto;
  padding-right: 20px;
}

#publish_main_content #top_wrapper h1 {
  font-size: 36px;
  padding-top: 10%;
  text-align: center;
}

#top_wrapper h2 {
  font-size: 28px;
  color: #333;
  padding-bottom: 24px;
  text-align: center;
}

#publish_main_content h2.white {
  text-align: center;
  font-size: 26px;
  color: white;
  margin: 0 auto;
  max-width: 760px;
  padding-left: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-top: 24px;
}

#publish_main_content h3.white {
  text-align: center;
  font-size: 16px;
  color: white;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

#publish_main_content div.white-footer {
  float: left;
  margin-right: 12px;
  max-height: 100px;
}

#publish_main_content .rightalign {
  float: right;
  padding-top: 20px;
  padding-left: 40px;
}

#publish_main_content #black_wrapper {
  width: 100%!important;
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: #242424;
  min-height: 300px;
}

#publish_main_content .black_icons {
  display: block;
  margin: 0 auto;
  height: 190px!important;
  padding-left: 200px;
  padding-top: 24px;
}

#publish_main_content .black_icons div {
  display: inline;
  float: left;
  padding-right: 95px;
  text-align: center;
}

#publish_main_content .black_icons div a {
  color: #fff;
  text-decoration: none;
}

#publish_main_content .black_icons p {
  font-size: 18px;
  color: white;
  padding-top: 12px;
  padding-bottom: 36px;
  text-align: center;
}

#publish_main_content #icon_content {
  position: relative;
  margin: 0 auto;
}

#publish_main_content .icon_left {
  float: left;
  display: inline;
  width: 155px;
  padding-top: 60px;
  padding-bottom: 80px;
}

#publish_main_content .icon_left1 {
  padding-bottom: 50px;
  padding-top: 60px;
  top: 500px;
}

#publish_main_content .icon_left2 {
  padding-top: 70px;
}

#publish_main_content .icon_left3 {
  padding-top: 140px;
}

#publish_main_content .icon_left4 {
  padding-top: 110px;
}

#publish_main_content .publishbody {
  padding-left: 12px;
  padding-top: 24px;
  padding-bottom: 36px;
  margin: 0 auto;
  display: block;
  vertical-align: middle;
  position: relative;
}

#publish_main_content .publishbody h2 {
  padding-bottom: 12px;
  font-size: 36px;
  text-align: center;
}

#publish_main_content .publishbody h3 {
  font-size: 21px;
  text-align: left;
}

#publish_main_content #orange_wrapper {
  background-color: #3daca0;
  padding: 12px;
}

#publish_main_content #orange_wrapper .keyfactsh3 {
  margin: 0 auto;
}

#publish_main_content h2.keyfacts {
  font-size: 36px;
  font-weight: 600;
  color: #333;
  text-align: center;
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

#publish_main_content h3.keyfacts {
  font-size: 21px;
  color: #333;
  padding-left: 24px;
  margin-bottom: 0;
}

#publish_main_content #publishbottom {
  display: block;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 160px;
  margin-bottom: -50px;
}

#social_icons {
  width: 100%;
  background: #282425;
  margin: 1rem 0 0;
  padding: 1rem 0 2rem;
}

#social_icons h3 {
  text-align: center;
  color: #fff;
  padding-top: 12px;
  font-size: 24px;
}

.social { display: inline;}

#social_icons img {
  margin-right: 2rem;
  display: inline-block;
}

#social_icons_wrapper {
  text-align: center;
  margin: 1rem auto 0;
}

#social_icons img#social_icon_facebook {
  width: .8rem;
  height: auto;
}

#social_icons img#social_icon_twitter {
  width: 24px;
  height: auto;
  margin-top: 2rem;
  width:1.4rem;
}


#social_icons a#blogs_link {
  font-size: 0.79em;
  letter-spacing: 1px;
  font-weight: 600;
  width: 10rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

#publish_main_content #publishbottom img {
  margin: 0 auto;
  padding-left: 12px;
  display: block;
}

#publish_main_content #sticky-footer {
  display: none;

}