
/*
 * Collapse/expand button
 */
@mixin collapse-expand-button($size: 20px) {
  &:after {
    position: relative;
    content: "+";
    top: 4px;
    width: 20px;
    height: 20px;
    font-size: $font-size;
    line-height: 20px;
    text-align: center;
    float: right;
    color: #ffffff;
    background-color: $brand-main;
    cursor: pointer;
    z-index: 1;

    @include breakpoint(0, $md) {
      display: none;
      visibility: hidden;
    }
  }
  &.active:after {
    content: "\2715";
    background-color: $brand-accent;
    font-size: $font-size-small;
  }
}

/*
 * section-component included within a collapse box.
 * It assumes h2.section-toggle as clickable header, and .section-box as body
 * for each collapsable item.
 */
@mixin section-component {

  h2.section-toggle {
    position: relative;
    border-top: solid 1px $color-border;
    margin-bottom: 0;
    line-height: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;

    @include breakpoint(0, $md) {
      text-align: center;
      border-top: solid 1px $brand-main;
      font-weight: normal;
      font-size: $font-size-medium;
    }

    @include collapse-expand-button;

    &.active {
      height: 0px;

      > span {
        max-width: 130px;
        display: inline-block;
        word-break: break-word;

        @include breakpoint(0, $md) {
          max-width: none;
          display: inline;
          word-break: normal;
        }
      }

      @include breakpoint(0, $md) {
        border-bottom: solid 1px $brand-main;
        background-color: $brand-accent;
        height: auto;
      }
    }

    &:last-of-type {
      @include breakpoint(0, $md) {
        border-bottom: solid 1px $brand-main;
      }
    }
  }

  .section-box {
    position: relative;

    width: calc(100% - 128px);
    left: 134px;
    padding-top: 0px;
    top: -8px;

    @include breakpoint(md) {
      max-width: 592px;
      align-self: center;
    }

    @include breakpoint(0,$md) {
      width: 100%;
      left: 0px;
      padding-top: calc(48px - 2ch);
      padding-bottom: 1ch;
    }
  }
}

@mixin author-component {

  .author-toggle {
    position: relative;

    span.email {
      margin-left: 1ch;
    }
    span.email:after {
      content: "\2709";
      color: #c45703;
    }
    &:before {
      position: relative;
      content: "\2023";
      display: inline-block;
      width: 32px;
      left: 0px;
      font-size: 1.2rem;
    }
    &.active {
      font-weight: bold;
      &:before {
        content: "\25be";
      }
    }
  }

  .author-box {
    position: relative;
    font-size: $font-size-small;
    margin-left: 36px;

    span.type {
      text-transform: uppercase;
      display: block; margin-top: 1ch;
    }
    p {
      margin-bottom: 1ch;
    }
  }
}

// copied from desktop/sass/_components.scss

/// for regular text that gets highlighted. For text that is already highlighted in some way you can
// just use the sass code that reflects that element.


@mixin tooltip-trigger( $padding: $pad-xsmall, $outside-box:none){
  padding: $padding;
  //@include single-transition(background-color);
  @if $outside-box == yes {
    padding-left: 0;
  }
  .active &, &.highlighted,  .highlighted &{
    a, a:hover{color: $white;}
    //@include rounded-pill( $padding: $padding, $hover: false);
    @if $outside-box == yes {
      margin-left: -$padding;
    }

    .author-name{
      //@include rounded-pill($padding: rem-calc(2 4),$hover: false);
    }

  }
}

// creates a standard tooltip blue box etc....
@mixin tooltip($width: 320, $outside-box:none, $tooltip-padding: $pad-small){
  //@include rounded-pill($padding: $tooltip-padding, $hover: false);
  //padding-right: $pad-default;   //TODO put padding in closer
  padding-right: 10px;
  width: rem-calc($width);

  .close{
    //@extend .closer;
    position: absolute;
    //top: $pad-xsmall;
    //right: $pad-xsmall;
    top: 4px; right: 4px;
  }
  margin-left: 0;
}

// this is for a tooltip with a bullet list.

.tooltip-aside{
  @include tooltip($width: 160, $tooltip-padding: rem-calc(15 10 10 20));
  display:block;

  li {
    //font-size: $txt-size-medium-large;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: rem-calc(8);

    a {
      //@extend %link-text-body;
      font-weight: bold;
      color:$white;

      &:hover {
        //color: $clr-tooltip-text;
        color: $black;
      }
    }

  }
}


//// for JS widgets - these are to separate

@mixin js-tooltip-container {
  position:relative;
}
@mixin js-tooltip-target {
  top: 0;
  height: 0;
  position: absolute;
  margin-top: 10px;   /// margin to prevent blinking between the trigger and the tooltip
  opacity: 0;
  visibility: hidden;
  //z-index: map-get($zindex, invisible);
  z-index: -10;
  //@include single-transition(opacity);
  &.visible{
    opacity: 1;
    //z-index: map-get($zindex, dropdown);
    z-index: 10;
    visibility: visible;
    height:auto;
  }
}
