

body{
  background: $white;
}

//layout

header{
  nav > ul{
    @extend .row;
    @extend .auto;
    @include breakpoint(sm) {
      @include flex-items-row;
    }
    li{@extend .col;
    }

  }

}

header nav {
  ul {
    margin: $heading-margin-bottom 0 0 0;

    a {
      text-decoration: none;
      color: $color-text;
    }

    li {
      border-bottom: 1px solid $color-gray;
      padding: $grid-gutter-small;


      a{
        span{@extend .hide-sm;}
        i{
          @extend .show-sm;
          font-size: 36px;
        }
      }

      &.search {

      }
      &.logo {
        text-align: center;
      }
      &.menu {
        text-align: right;
      }
    }
  }

  .head-search {
    form {
      @extend .form;
      label, legend {
        @extend .hide;
      }
      fieldset{
        padding:0;
        margin-top:-1px;
      }
      .search-contain{

        @extend .append;
        input {
          font-size: $font-size-big;
          line-height: $font-size-large;
        }

        button {
          background-color: #fff;
          border: 1px solid $color-gray;
          border-radius:0px;
          @extend .hide-sm;
        .search-icon{
          @extend .kube-search;
        }
        }


      }


    }
  }
}