/*
 * icon-label - display an icon for the label.
 */
@mixin icon-label($icon, $label) {

  @include flex;
  @include flex-items-column;
  margin-right: 1ch;
  text-decoration: none;
  color: $color-text;

  .icon {
    align-self: center;
    width: $button-width-tiny;
    height: $button-height-tiny;
    // image-url() is not working...
    background-image: url("../../resource/img/#{$icon}");
    background-size: $button-width-tiny $button-height-tiny;
    background-repeat: no-repeat;
    margin-bottom: 4px;
  }
  .icon + * {
    align-self: center;
    text-transform: uppercase;
    font-size: $font-size-smaller;
    color: $brand-main;
    @extend .strong;
  }
}

@mixin icon($icon,
            $size: $font-size-big,
            $responsive: false,
            $sml-size: $font-size-medium,
            $position: center) {
  display: inline-block;
  text-decoration: none;
  align-self: center;
  background-image: url("../../resource/img/#{$icon}");
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;
  @if ($responsive: true) {
    @include breakpoint(sm) {
      background-size: $sml-size;
      width: $button-width-tiny;
      height: $button-height-tiny;
    }

  }
}


.share {
  @include icon-label('share_icon.svg', 'Share');
}

.xml {
  @include icon-label('download_citations.svg', 'XML');
}

.fulltext {
  @include icon-label('download_citations.svg', 'Full Text');
}

.edit {
  @include icon-label('edit_icon.svg', 'Edit');
}

.save {
  @include icon-label('save_icon.svg', 'Save');
}

.filetype {
  background-image: url("../../resource/img/doc_icon.png");
}

.filetype.png, .filetype.jpg, .filetype.jpeg, .filetype.gif, .filetype.tif {
  background-image: url("../../resource/img/pic_icon.png");
}

.icon-search {
  @include icon('search_gray.svg', $responsive: true);
}

.icon-menu {
  @include icon('hamburger-gray.svg', $responsive: true);
}


