
///link styles

.link-title{
  color: $brand-main;
  &:hover, &:active{
    color: $link-active
  }
}

.link-text{
  color: inherit !important;
  text-decoration: none;
  &:hover, &:active{
    text-decoration: underline;

  }
}

// text-treatments

//used for lists
.light-type{
  font-size: $font-size-smallish;
  line-height: $font-size;
  color: $color-silver;
}

//useful styles



