  %rectangular-slots {
    width: 306px;
    height: 256px;
  }

  .spotlight {
    margin: 0 0 41px 10px;
    @extend .clearfix;
  }

  #ad-slot-bottom {
    width: 652px;
    margin-left: 0;
    margin-right: 0;
    float:left;
    .ad-item {
      @extend %rectangular-slots;
      float: left;
      overflow: hidden;
      margin: 0 $pad-default 0 0;
      position: relative;
      padding: rem-calc(3);
    }

    .ad-item img {
      float: left;
      margin: 0 16px 0 0;
    }

    .ad-item h2, .ad-item h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }

    .ad-item h2 {
      font-weight: bold;
      padding: 12px 12px 0 0;
    }

    .ad-item h3 {
      font-weight: normal;
      padding: 0 13px 0 0;
    }

    .ad-item h3 a {
      color: #000;
    }

    .ad-item p {
      font-size: 10px;
      font-weight: bold;
      margin: 0;
      position: absolute;
      bottom: 10px;
      left: 116px;
    }

  }

  #submission-links {
    width: 300px;
    height: 250px;
    border-radius: inherit;
    text-align: center;
    padding: 40px;
    background: #333;
    float: right;
    margin: 3px 15px 3px 3px;

    h2, h3 {
      @extend .title-medium;
      font-weight: normal;
      line-height: 40px;
      padding: 0;
      margin: 0;
    }

    h2 {
      color: #fff;
      margin: 0 0 9px;
    }

    h3 {
      padding: 9px 0 10px;
      box-shadow: none;

    }

    h3.last {
      padding: 9px 0 0;
      border-top: 1px solid #616161;
    }

    h3 a {
      @extend %brand-color;
    }
  }


/* END COLLECTIONS */