/* ARTICLES LIST */
.subject-cover {
  position: relative;
  min-height: 816px; /* just in case there's no content */
  overflow-y: auto;
  width: 960px;
  margin-left: 10px;
}

.article-block {
  float: left;
  width: 306px;
  height: 387px;
  overflow: hidden; /* important for grayscale implementation below */
  margin: 0 21px 21px 0;
  position: relative;
}

.article-block-last {
  margin-right: 0;
}

.article-block .overlayed {
  z-index: 0;
}

/* ensures that images of smaller dimensions in either direction scale up
   to fit the 306x387 article block
*/
.article-block IMG {
  min-width: 306px; /* this should always be satisfied because the images are 320px wide */
  min-height: 387px;
}

.article-block .details {
  width: 245px;
  height: 176px;
  padding: 27px 20px 0;
  background: #f8af2d;
  position: absolute;
  right: 0;
  bottom: 40px;
  z-index: 2;
  box-sizing: content-box;
}

.article-block .details h2 {
  font-size: 18px;
  line-height: 19px;
  margin: 0 0 14px;
}

.article-block .details h2 a {
  color: #333;
}

.article-block .details p {
  font: 82%/1.375 arial, sans-serif;
  color: #fff;
  margin: 0;
}

.article-block .details p span {
  white-space: nowrap;
}

.article-block .actions {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.article-block:hover .actions {
  display: block;
  font-family: $font-face-fancy;
}

.article-block .actions li {
  display: inline;
  float: left;
  width: 94px;
  border-right: 1px solid #616161;
}

.article-block .actions li.last {
  width: 95px;
  border: none;
}

.article-block .actions li a {
  display: block;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #333;
}

.article-block .actions li.disabled {
  cursor: default;
}

.article-block .actions li.disabled span {
  display: block;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #777;
  background: #333;
}

.article-block .actions li a:hover {
  color: #fff;
  background: #3c63af;
}

.articles-list {
  overflow-y: auto;
}

.articles-list .pagination {
  clear: both;
  width: 597px;
  margin: 0 auto 59px;
  position: relative;
  top: 19px;
}

.articles-list .pagination .more {
  width: 102px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  background: #333;
}

.articles-list .pagination .more[disabled] {
  background: #c1c1c1;
}

.articles-list .pagination .more:hover {
  color: #333;
  background: #f8af2d;
}

.articles-list .loader {
  width: 100%;
  height: 40px;
  display: block;
  clear: both;
  text-align: center;
}

/* END ARTICLES LIST */

/* SEARCH RESULTS */
#search-results-block {
  font: 81.25%/1.385 arial, sans-serif;
}

#search-results-block .sidebar {
  float: right;
  width: 225px;
}

#search-results-block .sidebar h3 {
  margin-bottom: 0;
}

#search-results {
  margin: 15px 0 45px;
  padding: 0;
  list-style: none;
  font-size: 0.923em;
}

#search-results li {
  margin-bottom: 25px;
}

#search-results .article {
  display: block;
  font-size: 1.167em;
  font-weight: bold;
  line-height: 1.286;
  margin-bottom: 3px;
}

#search-results .article a {
  color: #333;
  text-decoration: underline;
}

#search-results .article a:hover {
  color: #3c63af;
}

#search-results .authors {
  display: block;
  color: #666;
}

#search-results .metrics {
  display: block;
  font-size: 0.917em;
  font-weight: bold;
  margin-top: 8px;
}

#search-results .uri {
  display: block;
  margin-bottom: 15px;
}


#search-results-block .main {
  float: left;
  width: 600px;
  padding-left: 10px;
}
/* END SEARCH RESULTS */


/* LISTINGS */

.subject-listing {
  #search-results {
    margin: 0;
  }

  #search-results li {
    margin: 0 0 39px;
  }

  #search-results h2 {
    font-family: $font-face-fancy;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 0 6px;
  }

  #search-results p {
    line-height: 18px;
    color: #333;
    margin: 0;
  }

  #search-results p.authors {
    margin: 0 0 2px;
  }

  #search-results p.date {
    margin: 0 0 9px;
  }

  #search-results a {
    color: #333;
  }

  #search-results .metrics {
    font-weight: normal;
    margin: 0 0 10px;
  }

  #search-results .metrics a {
    text-decoration: underline;
  }

  #search-results .metrics a:hover {
    text-decoration: none;
  }

  #search-results p.actions {
    font-size: 14px;
    color: #b5b5b5;
  }

  #search-results p.actions a {
    color: #3c63af;
  }
}

/* END */

/* METRICS IN BROWSE */

/*Table mini in tooltip*/
.metricTooltip{@include js-tooltip-target();}
div.tooltipContainer {
  display: inline-block;
  @include js-tooltip-container();
}
.metricTooltip{
  z-index: 3000;
  border: 0;
  padding: 5px;
  white-space: nowrap;
  span {
    display: block;
    background-color: #dadada;
    border: 1px solid black;
    padding: 3px;
    font-size: $txt-size-medium;
  }
}

/* END METRICS IN BROWSE */

