
/* FILTER BAR */
.filter-bar {
  min-height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 21px;
  background: #333;
}

.filter-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-bar ul li {
  display: inline;
  float: left;
  border-right: 1px solid #616161;
}

.filter-bar ul li.last {
  border: none;
}

.filter-bar ul li a {
  display: block;
  height: 40px;
  font-family: $font-face-fancy;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  padding: 0 25px;
}

.filter-bar ul li.first a {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.filter-bar ul li.last a {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filter-bar ul li a.active {
  @extend %brand-color;
}

.filter-bar ul li a:hover {
  color: #fff;
  background: $clr-highlight;
}

/* END FILTER BAR */
