.ad-position {
  position: absolute;
  top: 408px;
  right: 0;
}

.ad-alt {
  padding: 0 3px;

  .advertisement {
    padding: 4px 0 0;
    box-sizing: content-box;
  }

  .advertisement-notice {
    @extend .header-allcaps-smallest;
    margin-top: $pad-xsmall;
    text-align: center;
    color: $grey-tinytext;
  }
}

