  /* TWEETS */
  #twitter {
    width: 304px;
    height: 340px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: 1px solid $grey-light;
  }
#twitter a {
	color: $plos-one-purple;
}
  /* END TWEETS */


  /* CONNECT */
  #social-links {
    position: absolute;
    top: 693px;
    right: 0;
    margin: 0;
    width: 306px;
  }
  /* END CONNECT */
